@charset "utf-8";

/**********************************************************************************************************************************/
/**********************************************************************************************************************************/
/****************************************************    BASE   **********************************************************/
/**********************************************************************************************************************************/
/**********************************************************************************************************************************/


*{-webkit-text-size-adjust:none; margin:0; padding:0; font-family:'Pretendard', sans-serif, HelveticalNeue-Light,AppleSDGothicNeo; vertical-align: middle; -webkit-tap-highlight-color:rgba(0,0,0,0); }
strong,h1,h2,h3,h4,h5,h6	{ font-family:'Pretendard',sans-serif; font-weight:700;    }
html{height:100%;}
html.popOpen {overflow:hidden; }
body{margin:0; padding:0; min-width:1400px; -webkit-text-size-adjust:100%;  position:relative; font-size:14px; line-height:1.4; color:#333;  }
button,select,input,label {font-size:14px; }


@media screen and (max-width: 691px) {
  /* body		{font-size:14px; } */
}

div,p,h1,h2,h3,h4,h5,h6,menu,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select,img{margin:0;padding:0; -webkit-text-size-adjust: 100%; vertical-align:top; box-sizing:border-box; }
table,th,td{vertical-align:middle; text-align:center; }
/* button,select,input,label {cursor:pointer;  box-sizing: border-box; appearance: none;} */
hr, legend, caption {display:none; }

/* @media screen and (max-width: 691px) {
button,select,input[type=radio],input[type=checkbox],label,textarea {cursor:pointer;font-size:14px; border-radius:0;-webkit-appearance:none}
} */

/* ---[ reset html5 element ]---------------- */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display: block;}

ul,ol {list-style:none;margin:0px;padding:0px;}
em {font-style:normal;}
fieldset,img {border:0 none;  }
.hidden {visibility:hidden;width:2px; height:2px; overflow:hidden; position:absolute;left:-1000px;}
.m_hidden {visibility:hidden; width:2px; height:2px; overflow:hidden; position:absolute;left:-10000px; margin:0 !important; }

table {border-collapse:collapse;border-spacing:0; }
table caption {width:0;height:0;font-size:0;line-height:0;overflow:hidden;visibility:hidden;}
table tr td span{white-space: normal;}
table tr td img{vertical-align:middle; }

/* ---[ links ]------------------------------- */
a  { box-sizing:border-box; }
a img {border: none;}
a:link,a:visited {text-decoration: none;color:#666; font-family:inherit}
a:hover {text-decoration:underline;}

button{position:relative;margin:0;padding:0;border:0; vertical-align:middle;  box-sizing:border-box;  }

.clear{clear:both;height:0;line-height:0;font-size:0;}
.mob_clear {clear: both;}

/* clear */
.clearfix{*zoom: 1;} /* for IE 6/7 */
.clearfix:after{content:"";display:block;height:0;clear:both;visibility:hidden;}

.hide {  position: absolute;  width: 1px;  height: 1px;  padding: 0;  margin: -1px;  overflow: hidden;  clip: rect(0, 0, 0, 0);  border: 0;}

/*
a	{-webkit-transition: all 300ms linear;-moz-transition: all 300ms linear;-o-transition: all 300ms linear;-ms-transition: all 300ms linear;transition: all 300ms linear;}
select	{-webkit-transition: all 300ms linear;-moz-transition: all 300ms linear;-o-transition: all 300ms linear;-ms-transition: all 300ms linear;transition: all 300ms linear;}
input	{-webkit-transition: all 300ms linear;-moz-transition: all 300ms linear;-o-transition: all 300ms linear;-ms-transition: all 300ms linear;transition: all 300ms linear;}
*/

.skip_nav{position:relative;z-index:9999;}
.skip_nav a{position: absolute; top: -200px; left:0; width: 160px; line-height: 30px;border: 1px solid #dedede; background-color: #333;}
.skip_nav a:focus, 
.skip_nav a:active{top: 0;}

