@charset "utf-8";

/****************************
**********  color  **********
*****************************/
/* Main color */
.mainGreen {color:#21847c} 
.darkGreen {color:#3a6261} 

/* Point color */
.pntCol_1 {color:#e22000} 
.pntCol_2 {color:#d2c297} 
.pntCol_3  {color:#9a895d}

/* color */
.black	{color:#000} 
.brown	{color:#7f6c66} 
.green	{color:#537a7c}
.blue { color: #323c94;}

.srOnly { position: absolute; overflow: hidden; width: 1px; height: 1px; padding: 0; margin: -1px; border: 0; clip: rect(0,0,0,0);}

/****************************
**********  align  **********
*****************************/
.textCenter { text-align: center;}
.required { margin-right: 4px;; color: #FE5050;}


/****************************
**********  title  **********
*****************************/
.titH2 { font-size: 40px; font-weight: 700;}
.titH3 { font-size: 30px; font-weight: 700; margin-top:60px;}
.titH4 { font-size: 24px; font-weight: 700;}
.titH3:first-child {margin-top: 80px; }
.tableTit { font-size: 34px; font-size: 700; }

.tableTit { font-size: 34px; font-size: 700; }
.titH3.hasLine ,
.titH4.hasLine { display: flex; align-items: center; min-height: 76px; border-bottom: 1px solid #ddd; }
.titH3 strong.blue { margin-left: 10px;}
.boxTit { height: 90px; line-height: 90px; background: #E5EDFB; border-radius: 15px; color: #323C94; font-size: 30px; font-weight: 700; text-align: center;}

/****************************
**********  noti  **********
*****************************/
.notiTxt { color: #5B7DDC;}
.notiTxt::before { content: ''; display: inline-block; width: 24px; height: 24px; margin-right: 8px; background: url('../images/common/ico_24_notice_primary.png') no-repeat center / 24px 24px; vertical-align: text-top; }

.notiBox { padding: 24px 40px; background: #E5EDFB; border-radius: 16px; color: #323C94; }
.notiBox .notiTxt { color: #323C94;}
.notiBox .notiTxt::before { margin-right: 16px; background: url('../images/common/ico_24_notice_primary.png') no-repeat center / 24px 24px;}
.notiBox ~ .viewLineTable { margin-top: 20px; }

.tabNoti { margin-top: 80px; color: #555; text-align: center;}

/****************************
**********  section  **********
*****************************/
.formListBlock { margin-top: 0; } 
.sectionBlock60 { margin-top: 60px;}
.sectionBlock80 { margin-top: 80px;}

/****************************
**********  badge  **********
*****************************/
.badgeBlue { min-width: 136px; height: 46px; line-height: 46px; padding: 0 24px; background: #323C94; border-radius: 60px; font-size: 24px; color: #fff; text-align: center; }

/****************************
**********  button  **********
*****************************/

button    {background:none; cursor: pointer; transition: background .2s; white-space: nowrap;}

/* MAIN 버튼 */ 
button.btnBlue        {padding:0 50px; height:64px; background:#323C94; border-radius: 8px; font-size: 20px; text-align: center; font-weight: 700; color:#fff  }
button.btnSky         {padding:0 50px; height:64px; background:#7793E2; border-radius: 8px; font-size: 20px; text-align: center; font-weight: 700; color:#fff }
button.btnWhite       {padding:0 50px; height:64px; background:#ffffff; border-radius: 8px; font-size: 20px; text-align: center; font-weight: 700; color:#323C94; border:1px solid #323C94; }
button.btnGray       {padding:0 50px; height:64px; background:#ffffff; border-radius: 8px; font-size: 20px; text-align: center; font-weight: 700; color:#333; border:1px solid #ddd; }
button.btnWhiteLine       {padding:0 50px; height:64px; background:transparent; border-radius: 8px; font-size: 20px; text-align: center; font-weight: 700; color:#fff; border:1px solid #fff; }

a.btnBlue        {display:inline-block; padding:0 50px; height:64px; line-height:64px; background:#323C94; border-radius: 8px; font-size: 20px; text-align: center; font-weight: 700; color:#fff  }
a.btnSky         {display:inline-block; padding:0 50px; height:64px; line-height:64px; background:#5B7DDC; border-radius: 8px; font-size: 20px; text-align: center; font-weight: 700; color:#fff }
a.btnWhite       {display:inline-block; padding:0 50px; height:64px; line-height:64px; background:#ffffff; border-radius: 8px; font-size: 20px; text-align: center; font-weight: 700; color:#323C94; border:1px solid #323C94; }
a.btnGray       {display:inline-block; padding:0 50px; height:64px; line-height:64px; background:#ffffff; border-radius: 8px; font-size: 20px; text-align: center; font-weight: 700; color:#333; border:1px solid #ddd; }
a.btnWhiteLine       {display:inline-block; padding:0 50px; height:64px; line-height:64px; background:transparent; border-radius: 8px; font-size: 20px; text-align: center; font-weight: 700; color:#fff; border:1px solid #fff; }

table .btnBlue        {padding:0 32px; height:50px; line-height:50px; }
table .btnSky         {padding:0 32px; height:50px; line-height:50px; }
table .btnWhite       {padding:0 32px; height:50px; line-height:50px; }
table .btnGray       {padding:0 32px; height:50px; line-height:50px; }
table .btnWhiteLine       {padding:0 32px; height:50px; line-height:50px; }

.btnBlue:focus,
.btnBlue:hover        { background:#4260BB; text-decoration: none;  }
.btnSky:focus,
.btnSky:hover         { background:#7793E2; text-decoration: none;  }
.btnWhite:focus,
.btnWhite:hover       { background:#323C94; text-decoration: none; color:#fff }
.btnWhiteLine:focus,
.btnWhiteLine:hover       { background:#ffffff; text-decoration: none; color:#323C94 }

.btnBlue:active        { background:#323C94;  }
.btnSky:active         { background:#5B7DDC ;  }
.btnWhite:active       { background:#323C94; color:#fff }
.btnWhiteLine:active       { background:#ffffff; color:#323C94 }

.btnBlue:disabled,
.btnSky:disabled,
.btnWhite:disabled,
.btnWhiteLine:disabled       { background:#dddddd; color:#999; border:0; cursor:unset;  }

.ico_down       {padding:0 32px;}
.ico_down::after       {content:""; display:inline-block; margin-left:8px; width:24px; height:24px; vertical-align: -5px; background:url(../images/common/ico_24_download_blue.png) no-repeat 50% 50%; }
.btnBlue.ico_down::after  {background:url(../images/common/ico_24_download_white.png) no-repeat 50% 50%; }
.btnSky.ico_down::after  {background:url(../images/common/ico_24_download_white.png) no-repeat 50% 50%; }
.btnWhite.ico_down::after  {background:url(../images/common/ico_24_download_blue.png) no-repeat 50% 50%; }
.btnWhite:active.ico_down::after,
.btnWhite:hover.ico_down::after  {background:url(../images/common/ico_24_download_white.png) no-repeat 50% 50%; }
.btnWhiteLine.ico_down::after  {background:url(../images/common/ico_24_download_white.png) no-repeat 50% 50%; }
.btnWhiteLine:hover.ico_down::after,
.btnWhiteLine:active.ico_down::after  {background:url(../images/common/ico_24_download_blue.png) no-repeat 50% 50%; }

.ico_chart       {padding:0 32px;}
.ico_chart::after       {content:""; display:inline-block; margin-left:8px; width:24px; height:24px; vertical-align: -5px; background:url(../images/common/ico_24_chart.png) no-repeat 50% 50%; }
.btnWhite.ico_chart::after  {background:url(../images/common/ico_24_chart.png) no-repeat 50% 50%; }
.btnWhite:focus.ico_chart::after,
.btnWhite:active.ico_chart::after,
.btnWhite:hover.ico_chart::after  {background:url(../images/common/ico_24_chart_w.png) no-repeat 50% 50%; }

.ico_setting       {padding:0 32px;}
.ico_setting::after       {content:""; display:inline-block; margin-left:8px; width:24px; height:24px; vertical-align: -5px; background:url(../images/common/ico_24_setting_w.png) no-repeat 50% 50%; }
.btnWhite.ico_setting::after  {background:url(../images/common/ico_24_setting_primary.png) no-repeat 50% 50%; }
.btnWhite:focus.ico_chart::after,
.btnWhite:active.ico_setting::after,
.btnWhite:hover.ico_setting::after  {background:url(../images/common/ico_24_setting_w.png) no-repeat 50% 50%; }
.ico_setting:disabled::after  {background:url(../images/common/ico_24_setting_g.png) no-repeat 50% 50% !important; }

button.btnWhite.ico_prev         {padding:0 32px;}
button.btnWhite.ico_prev::before  {content:""; display:inline-block; margin-right:8px; width:24px; height:24px; vertical-align: -5px; background:url(../images/common/ico_24_prev.png) no-repeat 50% 50%; }
button.btnWhite.ico_prev:focus::before ,
button.btnWhite.ico_prev:hover::before   {background-image:url(../images/common/ico_24_prev_w.png)}
button.btnWhite.ico_next         {padding:0 32px;}
button.btnWhite.ico_next::after  {content:""; display:inline-block; margin-left:8px; width:24px; height:24px; vertical-align: -5px; background:url(../images/common/ico_24_next.png) no-repeat 50% 50%; }
button.btnWhite.ico_next:focus::after ,
button.btnWhite.ico_next:hover::after   {background-image:url(../images/common/ico_24_next_w.png)}

a.download       {padding-left:32px; font-weight: 700; color:#323C94;  background:url(../images/common/ico_24_download_blue.png) no-repeat 0% 50%; }

/* 유틸 버튼 */
.btnReset     {font-size: 20px; font-weight: 700; color:#555}
.btnReset::after     {content:""; display:inline-block; margin-left:8px; width:24px; height:24px; vertical-align: -5px; background:url(../images/common/ico_24_refresh.png) no-repeat 50% 50%; }
.btnFile      {font-size: 20px; font-weight: 700; color:#323C94; text-decoration: underline;}
.btnFile::after  {content:""; display:inline-block; margin-left:8px; width:24px; height:24px; vertical-align: -5px; background:url(../images/common/ico_24_download_blue.png) no-repeat 50% 50%; }

.btnDown          {width:50px; height:50px; border-radius: 8px; background:url(../images/common/ico_24_download_white.png) no-repeat 50% 50% #323C94;  }
.btnDown:focus
.btnDown:hover    {background-color:#4260BB ;  }
.btnDown.white      {border:1px solid #323C94; background-image:url(../images/common/ico_24_download_blue.png); background-color:#fff ;  }
.btnDown.white:focus,
.btnDown.white:hover {border:1px solid #323C94; background-color:#323C94 ; background-image:url(../images/common/ico_24_download_white.png);  }

.btnCalendar          {width:64px; height:64px; border-radius: 8px; background:url(../images/common/ico_24_calendar_w.png) no-repeat 50% 50% #323C94;  }
.btnCalendar:focus,
.btnCalendar:hover    {background-color:#4260BB ;  }
.btnCalendar.white      {border:1px solid #323C94; background-image:url(../images/common/ico_24_calendar_b.png); background-color:#fff ;  }
.btnCalendar.white:focus,
.btnCalendar.white:hover {border:1px solid #323C94; background-color:#323C94 ; background-image:url(../images/common/ico_24_calendar_w.png);  }
.btnCalendar.sm          {width:50px; height:50px;}

.btnPlus { width: 50px; height: 50px; flex-shrink: 0; background: #323C94; border-radius: 8px; font-weight: 700; color:#555}
.btnPlus::after { content:""; display:inline-block; width:24px; height:24px; background:url(../images/common/ico_24_plus_w.png) no-repeat 50% 50%; vertical-align: top;}
.btnPlus:hover    {background-color:#4260BB;}

.btnMinus { width: 50px; height: 50px; flex-shrink: 0; background: #fff; border: 1px solid #323C94; border-radius: 8px; font-weight: 700; color:#555}
.btnMinus::after { content:""; display:inline-block; width:24px; height:24px; background:url(../images/common/ico_24_minus_w.png) no-repeat 50% 50%; vertical-align: top;}
.btnMinus:focus,
.btnMinus:hover    {background-color:#4260BB; }

.addBtnSet { display: flex; column-gap: 20px;}


button.xl      {height:70px; }
button.sm       {height:50px; }
.wid530      {min-width:530px;}


/****************************
**********  form  **********
*****************************/
/* checkbox, radio */
.radio input[type=radio] + label , 
.checkbox input[type=checkbox] + label { display: inline-block; vertical-align: middle; color: #333; font-size: 20px;} 
.radio input[type=radio],
.checkbox input[type=checkbox] { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px}
.radio.ht64 { height: 64px; line-height: 64px;}
/* checkbox */
.checkboxGroup { display: flex; align-items: center; }
.checkbox { display: inline-block; white-space: nowrap;}
.checkbox + .checkbox { margin-left:26px; }
.checkbox input[type=checkbox] + label span { position: relative; display: inline-block; vertical-align: text-top; width: 24px; height: 24px; margin-right: 8px; background: no-repeat center / 24px 24px url("../images/COP/checkbox_inactive.png"); cursor: pointer}
.checkbox input[type=checkbox] + label.on span,
.checkbox input[type=checkbox]:checked  + label span { background-image: url("../images/COP/checkbox_active.png")}
.checkbox input[type=checkbox]:focus + label span::before,
.checkbox input[type=checkbox]:focus + label.on span::before { content: ''; display: block; position: absolute; top: 0; left: 0; width: 100%; height: 100%; border: 2px solid red; border-radius: 5px;}
/* .checkbox input[type=checkbox] + label.disable span {background:url("../images/COP/checkbox_disabled.png") no-repeat}
.checkbox input[type=checkbox]:disabled + label span {background:url("../image s/COP/checkbox_disabled.png") no-repeat;cursor:default} */

/* radio */ 
.radio { display: inline-block; white-space: nowrap;}
.radio + input[type="text"] { margin-left: 16px;}
.radio + .radio { margin-left:30px; }
.radio + em + .radio { margin-left:30px; }
.radio input[type=radio] + label span { position: relative; display: inline-block; vertical-align: text-top; width: 24px; height: 24px; margin-right: 8px; background: no-repeat center / 24px 24px url("../images/COP/radio_inactive.png"); cursor: pointer;}
.radio input[type=radio] + label.on span,
.radio input[type=radio]:checked  + label span { background-image: url("../images/COP/radio_active.png")}
.radio input[type=radio]:focus + label span::before,
.radio input[type=radio]:focus + label.on span::before { content: ''; display: block; position: absolute; top: 0; left: 0; width: 100%; height: 100%; border: 2px solid red; border-radius: 50%;}

/* .radio input[type=radio] + label.disable span,
.radio input[type=radio]:disabled + label span { background: url("../images/COP/radio_disabled_inactive.png") no-repeat}
.radio input[type=radio] + label.disable span,
.radio input[type=radio]:disabled + label.disableOn span { background: url("../images/COP/radio_disabled_active.png") no-repeat} */

/* 라디오 버튼 */
.radioBtn { display: inline-block; vertical-align: middle; margin-right:4px  }
.radioBtn + .radioBtn { margin-left: -2px;}
.radioBtn + input[type="text"] { margin-left: 0px;}
.radioBtn input[type=radio]{ display: none; }
.radioBtn input[type=radio]+label{ display: inline-block; height: 40px; padding: 0 16px; border-radius: 4px; line-height: 38px; text-align: center; cursor: pointer;}
.radioBtn input[type=radio]+label{ background: #fff; border: 1px solid #ddd; color: #333;}
.radioBtn input[type=radio]:checked+label{ background: #323C94; border: 1px solid #323C94; color: #fff; }
.radioBtn input[type=radio]:disabled+label { background: #ddd; color: #999;}
/* toggle */
.toggleGroup { display: flex; align-items: center; gap: 60px;}
.switch { display: inline-flex; align-items: center; cursor: pointer; }
.switch [type="checkbox"] { appearance: none; position: relative; border: 2px solid #323C94; border-radius: 14px; width: 52px; height: 28px;}
.switch [type="checkbox"]::before { content: ""; position: absolute; left: 2px; top: 2px; width: 20px; height: 20px; border-radius: 50%; background-color: #323C94; transition: left 250ms linear;}
.switch [type="checkbox"]:checked { background-color: #323C94; border-color: #323C94;}
.switch [type="checkbox"]:checked::before { background-color: white; left: 25px;}
.switch [type="checkbox"]:disabled { border-color: lightgray; opacity: 0.7; cursor: not-allowed;}
.switch [type="checkbox"]:disabled:before { background-color: lightgray;}
.switch [type="checkbox"]:disabled+span { opacity: 0.7; cursor: not-allowed;}
.switch [type="checkbox"]:focus-visible { outline-offset: 2px; outline: 2px solid #323C94;}
/* .switch [type="checkbox"]:enabled:hover { box-shadow: 0 0 0 max(4px, 2px) #e1e2ee;} */
.switch span { display: inline-block; margin-left: 8px;}
/* fieldset { border: none; display: flex; flex-direction: column; gap: 0.5rem;} */

.row { display: flex; align-items: top; justify-content: space-between;}
.row .label { display: inline-block; padding: 20px 0 0; color: #333; font-size: 20px; font-weight: 700; vertical-align: middle;}
.row .unit { color: #333; font-size: 20px;}
.row .btnBlue { display: inline-flex;  }

/* 폼 한줄 그룹  */
.formRow { display: flex; align-items: center; gap: 8px; vertical-align: middle;}
.formRow > div { display: flex; align-items: center; gap: 8px;}
.formRow ~ .formRow { margin-top: 10px;}
.formRow.mt20 { margin-top: 20px; }
.formRow .txt { display: inline-block; padding:0 4px; vertical-align: middle;}
.formRow .unit.mail { margin: 0 8px;}

.formRow.wid673 { width: 673px;}
.formRow.wid673.mt30 { margin-top: 30px;}
.formRow.wid673 .input { width: 100%;}
.formRow .radio + input[type="text"] { margin-left: 6px;}
.formRow .radio + .radio { margin-left: 20px;}
.formRow .radioBtn + .radioBtn { margin-left: -2px;}


/* input */
.input { min-height: 64px; padding: 0 20px; background: #fff; border: 1px solid #ddd; border-radius: 8px; font-size: 20px; vertical-align: middle;}
.input::placeholder { color: #999; line-height: normal; }
.input:disabled, .input:read-only { background: #f4f6f8; color: #999; }
.input::-webkit-resizer { display: none;}
.input.auto { width: auto;}
.input.wid400 { width: 400px;}

/* 단위가 존재하는 input ex.개월, 원 */
input[type=text].innerTxt_2         { margin-right:-74px;  padding: 0 64px 0 20px; }
input[type=text].innerTxt_2.wid135  { width:135px; }
input[type=text].innerTxt_2 + .unit { display: inline-block; width:56px; line-height:64px;padding-right:20px; text-align: right;  }
input[type=text].innerTxt_1         { margin-right:-54px;  padding: 0 44px 0 20px; }
input[type=text].innerTxt_1 + .unit { display: inline-block; width:36px; line-height:64px;padding-right:20px; text-align: right;  }
input[type=text].innerTxt_1.wid114 {width:114px; }

/* 에러 상태 */
.hasError .input {  border: 1px solid #FE5050}
.hasError + .errorTxt { display: block; }
.hasError .input:disabled { background: #f4f6f8;}
.errorTxt { display: none; margin-top: 10px; color: #FE5050; font-size: 16px;}
.errorTxt::before { content: ''; display: inline-block; width: 24px; height: 24px; margin-right: 8px; margin-top: -1px; background: url('../images/common/ico_24_error.png') center center no-repeat; vertical-align: top; }


.textCenter .input { text-align: center; }
.inputBizNumber .input { width: auto;}

/* file */
.fileForm {display: flex; padding-top:40px ; gap:8px;  }
.fileForm label {font-weight: 700; line-height: 64px; padding-right:12px; }
p.txt_fileForm {padding-left:72px; margin-top:10px;  }

/* */
.btnTypeRadio   {}
.btnTypeRadio input[type=radio]   {position:absolute; opacity:0;}
.btnTypeRadio label   {display:inline-block; height:40px; line-height:40px; padding:0 18px; border:1px solid #ddd; border-radius: 4px; cursor: pointer; }
.btnTypeRadio input:checked + label   {background:#323C94; color:#fff; }

/* select */
select::-ms-expand { display: none; } /* select 기본 스타일 제거 */
select { -o-appearance: none; -webkit-appearance: none; -moz-appearance: none; appearance: none;} /* select 기본 스타일 제거 */
select { display: inline-block; vertical-align: middle; min-width:140px; flex-shrink: 0; height: 64px; padding: 0px 40px 0px 16px; background: #fff url('../images/COP/select_down.png') calc(100% - 16px) center no-repeat; border: 1px solid #ddd; background-size: 24px; border-radius: 8px; color: #333; font-size: 20px; }
select.selectSm { min-width: 206px;}
select.wid300 { min-width: 300px;}
select.wid145 { min-width: 145px !important;}


/* textarea */
.textarea { width: 100%; min-height: 220px; padding: 20px; border: 1px solid #ddd; border-radius: 8px; resize: none;}
.textarea:disabled, .textarea:read-only { background: #f4f6f8; color: #999; }
.layerCont .textarea { min-height: 180px;}

/* form 정력 */
/* .formVertical .formRow ~ .radio { margin-top: 20px; } */
.formRow + .formAdd { margin-top: 10px; }
.formAdd select { width: 186px;}
.formAdd .btnPlus,
.formAdd .btnMinus { width: 64px; height: 64px; }

/* control group */
.bbsSearch { position: relative; padding: 32px 40px 32px 40px; background: #E5EDFB; border-radius: 16px; display:flex; gap:20px; }
.bbsSearch .formRow { width:100%; }
.bbsSearch .formRow input { width:100%; }
.bbsSearch .searchBtns { width:auto; }


.searchControlBox { position: relative; padding: 32px 228px 32px 40px; background: #E5EDFB; border-radius: 16px;}
.main .searchControlBox { background: #fff; }
.searchControlBox .searchBtns .btnReset { position: absolute; top: 32px; right: 36px; padding: 4px;}
.searchControlBox .searchBtns .btnBlue { position: absolute; bottom: 32px; right: 40px; width: 188px;}
.searchControlGroup { display: flex; align-items: center; flex-wrap: wrap; row-gap: 12px; column-gap: 16px; }

.searchControlItem {display: inline-block; height: 64px; background: #fff; border: 1px solid #ddd; border-radius: 8px; overflow: hidden;}
.searchControlItem .label { display:inline-block; color: #555; font-size: 20px; padding:17px 0; padding-left: 16px; padding-right: 30px; }
.searchControlItem .formRow { display: inline-block; height: 100%;}
.searchControlItem .formRow select { height: 100%; padding: 0 60px 0 30px; background: #fff url('../images/COP/select_down.png') calc(100% - 30px) center no-repeat; border: none; color: #333; font-size: 20px; }
.searchControlItem .formRow .input { height: 100%; border: none; padding: 0 30px; color: #333; font-size: 20px;}
.searchControlItem .formRow .unit { padding: 0 30px 0 10px; color: #333; font-size: 20px;}
.searchControlItem .formRow .inputWrap { position: relative; display: inline-block; }
.searchControlItem .formRow .select::before, 
.searchControlItem .formRow .inputWrap::before { content: ''; display: block; position: absolute; left: 0; top: 20px; width: 1px; height: 20px; background: #ddd;}
.searchControlItem .formRow .line  {display:inline-block; height:20px; width:1px; margin-right:-4px; background:url(../images/common/line_bar.png) no-repeat 0 50%;}


/* form div table */
/* .formListTable { margin-top: 60px;}
.formListTable .titH3 { margin-top: 60px;}
.formListTable .tr { display: table; width: 100%; min-height: 64px; margin-top: 30px;}
.formListTable .tr:first-child { margin-top: 0}
.formListTable .th { display: table-cell; width: 186px; font-weight: 700;}
.formListTable .td {} */



/****************************
**********  accordion  **********
*****************************/
.accordion { }
.accordion .accordionTitle {  border-bottom: 1px solid #ddd; font-weight: 700; }
.accordion .accordionTitle .q { margin-right: 2px; color: #5B7DDC; vertical-align: top;}
.accordionTrigger { position: relative; display: block; width: 100%; padding: 30px 40px; text-align: left; font-weight: inherit;}
.accordionTrigger:focus { outline: 2px dashed #5B7DDC; }
.accordionTrigger[aria-expanded="true"] .accordionIcon { transform: rotate(180deg) translateY(50%); }
.accordionIcon {  pointer-events: none; transition: .3s; position: absolute; right: 40px; top: 50%; width: 24px; height: 24px; transform: translateY(-50%); background: url(../images/common/ico_24_down.png) no-repeat;}
.accordionPanel { padding: 30px 40px; line-height: 1.5;}
.accordionPanel[hidden] { display: none;}

/****************************
**********  paging  **********
*****************************/
.pagination { display: flex; align-items: center; justify-content: center; margin-top: 60px;}
.paging { display: flex; align-items: center; justify-content: center; gap: 14px; margin: 0 14px;}
.paging li { display: inline-block; border-radius: 8px; }
.paging li a { display: block; width: 30px; height: 30px; font-size: 18px; text-align: center; line-height: 30px;}
.paging li a:hover { text-decoration: none;}
.paging li.active { background: rgba(82, 132, 227, 0.15); font-weight: 700; } 
.pageFirst, .pageLast, .pagePrev, .pageNext { width: 30px; height: 30px;}
.pageFirst::after { content: ''; display: block; width: 30px; height: 30px; background: url('../images/common/ico_24_left_double.png')  no-repeat center / 24px 24px; }
.pageLast::after { content: ''; display: block; width: 30px; height: 30px; background: url('../images/common/ico_24_right_double.png')  no-repeat center / 24px 24px; }
.pagePrev::after { content: ''; display: block; width: 30px; height: 30px; background: url('../images/common/ico_24_left.png')  no-repeat center / 24px 24px; }
.pageNext::after { content: ''; display: block; width: 30px; height: 30px; background: url('../images/common/ico_24_right.png')  no-repeat center / 24px 24px; }

/****************************
**********  banner  **********
*****************************/
.btFullBnr .example { height: 150px; margin-top: 100px; background: #5B73CC;}


/****************************
**********  layout  **********
*****************************/


.headerUtil     {position:relative;  z-index:500; height:52px; background:rgba(255, 255, 255, 0.10); }
.headerUtil .utilCont     {width:1400px; margin:0 auto; overflow: hidden; }
.headerUtil .utilCont .zommBox   {float:right; padding:12px 0 0; }
.headerUtil .utilCont .zommBox span.tit   {display:inline-block; vertical-align: middle; font-size: 16px; color:#fff; }
.btn_zoom_plus    {width:24px; height:24px; vertical-align: middle; background:url(../images/common/ico_24_plus.png) }
.btn_zoom_minus   {width:24px; height:24px; vertical-align: middle; background:url(../images/common/ico_24_minus.png) }

.on .headerUtil     { background:rgba(50, 60, 148, 0.10); }
.on .headerUtil .utilCont .zommBox span.tit   {color:#999; }
.on .btn_zoom_plus    {background:url(../images/common/ico_24_plus_on.png) }
.on .btn_zoom_minus   {background:url(../images/common/ico_24_minus_on.png) }


.wrap::after {content:""; position:fixed;  width:100%; height:100%; left:0; top:0; z-index:9000; animation:pageLoad .3s; animation-fill-mode:forwards }

@keyframes pageLoad {
  0% {
    opacity:1;
    top:0;
    background:#fff;
  }

  90% {
    opacity:0;
    top:0;
    background:#fff;
  }
  100% {
    opacity:0;
    top:-100%;
  }
}

header {}
header::after {content:''; position:absolute; width:100%; height:740px; height:150px; top:0; lefT:0; z-index:0; background:#323C94; }
header.on::before {content:''; width:100%; left:0; top:0; z-index:499; position:fixed; height:100vh; background: rgba(0, 0, 0, 0.40); }
header .bg  {content:''; width:100%; left:0; top:0; z-index:499; position:absolute; height:150px; background:#323C94;  transition: .5s; opacity:0 ; }
header.on .bg  {height:608px; opacity: 1; background:#fff; top:0; }
header .line  {content:''; position:absolute; width:100%; height:0; top:150px; left:0; z-index:599; background:#323C94; border-bottom:1px solid #515BB7; }


.headerCont {position:relative; z-index:500; width:1400px; margin:0 auto; height:98px; }
.headerCont h1.logo       {position:relative; z-index:10; float:left; padding:32px 90px 0 0; line-height:1; }
.headerCont h1.logo a     {font-size:28px; font-weight: 700; color:#fff; transition: .3s;  }
.on .headerCont h1.logo a     {color:#323C94; }
.headerCont h1.logo a:hover  {}
.headerCont ul.gnb        {position:relative; padding:30px 0 0; z-index:10; float:left; width:1000px; display:flex; justify-content:center;  }
.headerCont ul.gnb li         {}
.headerCont ul.gnb li a       {display:block; width:220px; padding:7px 0; text-align: center; text-decoration: none; box-shadow:inset 0 0 0  0  #fff; transition: .3s; }
.headerCont ul.gnb li.on > a {font-weight: 700;  }
.headerCont ul.gnb li a:hover    {box-shadow:inset 0 -18px 0  0  rgba(82, 132, 227, 0.15);}
.headerCont ul.gnb li.depth_1        {margin-left:70px}
.headerCont ul.gnb li.depth_1:first-child        {margin-left:0px}
.headerCont ul.gnb li.depth_1 > a    {font-size:24px; color:#fff; transition: .3s;  }
.on .headerCont ul.gnb li.depth_1 > a    {color:#323C94; }
.headerCont ul.gnb li.depth_1 ul     {display:none; position:absolute; top:100px;  margin-left:10px; }
.on .headerCont ul.gnb li.depth_1 ul {display:block; padding:25px 0 0; }
.headerCont ul.gnb li li.depth_2     {padding:15px 0; }
.headerCont ul.gnb li li.depth_2 > a {padding:0 0; width:220px; font-size: 20px; line-height:24px; color:#333; margin:0 auto; }
.headerCont ul.gnb li li.depth_2 > a:hover {box-shadow:inset 0 -14px 0  0  rgba(82, 132, 227, 0.15);}
.headerCont ul.gnb li li.depth_2.on > a {color:#323C94;}
.headerCont ul.headerLogin {position:relative; float:right; z-index:10; padding:37px 0 0; }
.headerCont ul.headerLogin li {float:left;}
.headerCont ul.headerLogin li a {font-size:20px; font-weight: 500;  color:#fff; transition: .3s; ;}
.headerCont ul.headerLogin li a.login {position:relative; margin-left:10px; padding-left:10px; }
.headerCont ul.headerLogin li a.login::before {content:''; position: absolute; width:2px; height:2px; background:#fff; border-radius: 50%; left:0; top:50%;}
.headerCont ul.headerLogin li a.logout {position:relative; padding-right:34px; }
.headerCont ul.headerLogin li a.logout::before {content:''; position: absolute; width:24px; height:24px; background:#fff; right:0; top:0%; background:url(../images/COP/ico_logout_off.png) no-repeat 0 0 / 100%;}
.on .headerCont ul.headerLogin li a {color:#323C94; }
.on .headerCont ul.headerLogin li a.login::before {background:#323C94; }
.on .headerCont ul.headerLogin li a.logout::before {background-image:url(../images/COP/ico_logout_on.png)}


.headerCont ul.gnb li.depth_1 > a span  {padding-left:34px; background:url(../images/COP/ico_acc_off.png) no-repeat 0 2px / 24px 24px;}
.headerCont ul.gnb li.depth_1 > a span.ico_gnb_acc    {background-image:url(../images/COP/ico_acc_off.png)}
.on .headerCont ul.gnb li.depth_1 > a span.ico_gnb_acc    {background-image:url(../images/COP/ico_acc_on.png)}
.headerCont ul.gnb li.depth_1 > a span.ico_gnb_pro    {background-image:url(../images/common/ico_gnb_proposal_w.png)}
.on .headerCont ul.gnb li.depth_1 > a span.ico_gnb_pro    {background-image:url(../images/common/ico_gnb_proposal_b.png)}
.headerCont ul.gnb li.depth_1 > a span.ico_gnb_my    {background-image:url(../images/common/ico_gnb_mypage_off.png)}
.on .headerCont ul.gnb li.depth_1 > a span.ico_gnb_my    {background-image:url(../images/common/ico_gnb_mypage_on.png)}


.container {position:relative; z-index:2; min-height:500px; padding:80px 0 100px }
.container.member {padding:160px 0 130px; }
.container.hasBg { padding-bottom: 0;}
.container.hasBg .bgGray { padding-bottom: 100px; overflow: hidden;}
.bgGray { background: #FAFAFA;}

footer    {position:relative; z-index:1; background:rgba(244, 246, 248, 1) }
footer::before    {content:""; position:absolute; width:100%; top:90px; border-top:1px solid #ddd}
.footerWrap {width:1400px; margin:0 auto;}
ul.footerLnk  {padding:40px 0 30px; overflow: hidden; }
ul.footerLnk li  {float:left; }
ul.footerLnk li a  {font-size:18px; }
ul.footerLnk li::before  {content:"ㆍ";padding:0 14px; }
ul.footerLnk li:first-child:before  {content:"";padding:0; }
footer .copy    {overflow:hidden; padding:40px 0 ; }
footer .copy p    {float:left; padding:10px 0 0; }
footer .copy p span {display:block; line-height:28px; font-size:16px;  }
footer .copy .wa    {float:right; }


section   {margin:0 auto; max-width: 1400px;}

.loginCont     {margin:0 auto;  }
.loginCont .loginTit        {width:100%; text-align: center;}
.loginCont .loginTit p      {padding-top:20px; white-space: nowrap;}
.loginCont ul.loginTab     {position:relative; width:530px; height:388px; margin:90px auto 0;  }
.loginCont .loginBtn button     {width:100%; }

.loginUtilBtn     {text-align: center; padding:40px 0 0; }
.loginUtilBtn a  {color:#555; }
.loginUtilBtn a + a::before {content:'·'; display:inline-block; margin:0 10px; }

.login_form .formBox        {position:relative; padding-left:130px; padding-bottom:20px;   }
.login_form .formBox label        {position:absolute; left:0; height:64px; line-height:64px; font-weight: 700;   }
.login_form .formBox .input       {width:100%; }



@media print { 
  header {display:none;}
  .mainTop {display:none; }
  .mng_btns   {display:none; }
  footer   {display:none; }
}


/****************************
**********  table  **********
*****************************/
.tableFilterGroup { display: flex; justify-content: space-between; align-items: center; }
.tableFilterGroup .count { display: inline-flex; align-items: center; font-size: 20px; color: #555;}
.tableFilterGroup .count strong { margin-left: 4px; color: #323C94;}
.tableFilterGroup select { height: 50px; padding: 0 60px 0 15px }
.tableFilterGroup ~ .bbs_list { margin-top: 20px;}

.table_top     {position:relative; margin-bottom:20px;  }
.table_top::after     {display:block; content: ""; clear: both;}
.table_top .total     {float:left; }
.table_top .total strong{color:#323C94; font-size:24px; }
.table_top .tipTxt    {float:left; padding-top:20px; color:#555;    }
.table_top .sortBox   {float:right;  }
.table_top .sortBox select {margin-left:6px; }
.table_top .sortBox select { width: 100%; height: 50px; }

.table_bt      {width:100%;  margin:60px 0 0px; box-sizing: content-box; }
.table_bt::after      {content: ""; display:block; clear: both;}
.table_bt .btn_l      {float:left; }
.table_bt .btn_r      {float:right; }
.table_bt .btn_c      {position:absolute; left:50%; transform: translateX(-50%); text-align: center; }
.table_bt .btn_c button {min-width:225px; }
.table_bt button + button      {margin-left:6px; }

.bbsDetailBox ~ .table_bt      {padding:60px 0 0px;}
.table_wrap    { margin-top: 30px; border-radius: 16px; border: 1px solid #ddd; overflow: hidden;}
table.bbs_list    { width:100%; border-collapse: collapse; border-style: hidden;}
table.bbs_list th   {height:80px; background:#F4F6F8;  }
table.bbs_list td   {height:100px; border-bottom:1px solid #ddd; }
table.bbs_list td.tit   {text-align: left;}
table.bbs_list thead tr.top th { background: #E5EDFB;}
table.bbs_list thead:has(.top) tr th { border-radius: 0;}
table.bbs_list thead tr:last-child { border-bottom: 1px solid #ddd;}
table.bbs_list td .sub { color: #999;}
table.bbs_list .widFix { display: inline-block; width: 785px; text-align: left;} 

.bbsViewCont     {margin-top:40px; padding:60px; min-height:250xp; border:1px solid #ddd; border-radius: 16px; }
table.bbs_view     {width:100%;}
table.bbs_view th,
table.bbs_view td  {padding:30px 0; padding-left:20px; text-align: left; border-bottom:1px solid #ddd;  }


input[type=checkbox].star    {border:0; width:24px; height:24px; background:url(../images/common/ico_24_star_off.png) no-repeat 50% 50%; -webkit-appearance:none}
input[type=checkbox].star:checked    {background:url(../images/common/ico_24_star_on.png) no-repeat 50% 50%; }

/****************************
**********  table jin  **********
*****************************/

.fixedTable { height: 600px; margin-top: 30px;  overflow: auto; border-radius: 16px; border: 1px solid #ddd;}
.fixedTable thead {position: sticky; top: 0;} 
.fixedTable .bbs_list { margin-top: 0; box-shadow: none;}
.fixedTable .bbs_list tbody tr:last-child { border-bottom: 0;}
.fixedTableWrap .table_bt { padding-top: 60px;}

/* .bbs_list { margin-top: 30px; border: 1px solid #ddd; border-radius: 16px; overflow: hidden;}
.bbs_list table { display: table; width: 100%; } 
.bbs_list thead tr:last-child { border-bottom: 1px solid #ddd;}
.bbs_list tbody tr:not(:last-child) { border-bottom: 1px solid #ddd; }
.bbs_list th,
.bbs_list td { padding: 0 10px; text-align: center;} 
.bbs_list th { height: 80px; background: #F4F6F8; font-weight: 700; } 
.bbs_list td { height: 100px; font-size: 18px;}*/



/* 라인 NO */
.viewNolineTable table { display: table; width: 100%;} 
.viewNolineTable th, 
.viewNolineTable td { padding: 22px 0; }
.viewNolineTable tr:last-child th,
.viewNolineTable tr:last-child td { padding-bottom: 0; }
.viewNolineTable th { padding-left: 20px; padding-right: 20px; font-weight: 700; text-align: left; vertical-align: top;}
.viewNolineTable td { padding-right: 20px; text-align: left;}

/* 라인 YES */
.viewLineTable .tableTit { margin-top: 40px;}
.viewLineTable table { display: table; width: 100%; } 
.viewLineTable tr { border-bottom: 1px solid #ddd; }
.viewLineTable th, 
.viewLineTable td { padding: 30px 0; }
.viewLineTable th { font-weight: 700; text-align: left; vertical-align: middle;}
.viewLineTable td { text-align: left;}
.lineBox .viewLineTable th,
.detailCont .viewLineTable th { padding-left: 20px; padding-right: 20px; }
.lineBox .viewLineTable td,
.detailCont .viewLineTable td { padding-right: 20px; }
/* 마지막 라인 NO */
.viewLineTable.noLastLine tr:last-child { border-bottom: none; }

/* 폼 테이블 */
.formListTable { margin-top: 45px;}
.formListTable table { display: table; width: 100%; table-layout: fixed; } 
.formListTable th { padding: 30px 0 15px; font-weight: 700; text-align: left; vertical-align: top; }

.formListTable th .checkbox { font-weight: 400; }
.formListTable td { padding: 15px 0; text-align: left; vertical-align: top;}
.formGrayBox .formListTable th { padding: 30px 0 15px 60px; }
.formGrayBox .formListTable th:first-child { padding-left:0; }
.formGrayBox .formListTable td { padding: 10px 0; }
.formListTable .btnWhite,
.formListTable .btnBlue { height: 64px; padding: 0 50px; line-height: 64px;}
.formListTable .table_bt { padding-top: 45px;}
.formListTable .titH4.hasLine + table { margin-top: 25px; }

td .formGrayBox { margin: 10px 0;}
td .formListTable { margin-top: 25px;}
.formGrayBox { padding: 40px; background: #F4F6F8; border-radius: 16px;}
.formGrayBox th { padding-left: 60px;}
.formGrayBox th:first-child { padding-left: 0;}
.formGrayBox .list:not(:first-child) { margin-top: 60px; padding-top: 60px; border-top: 1px solid #ddd;}
.addControl { display: flex; justify-content: space-between; align-items: center;}

/* 텍스트 테이블 */
.textTable { margin-top: 60px;}
.textTable th, .textTable td { padding: 20px 0 5px; height: 64px; }
.textTable .sub { color: #999; font-size: 18px; font-weight: 400;}

/* 페이지 테이블 - 제안서 제출 */
.formFullTable .textarea,
.formFullTable input[type=text] { width: 100%; }
.formFullTable select { width: 206px;}
.formFullTable .dateControl .input { width: 540px;}
.formFullTable .input.inputXs { width: 58px;}
.formFullTable .input.auto { width: auto;}

.formFullTable .guarant .input:nth-child(1) { width: 100px; }
.formFullTable .guarant .input:nth-child(2) { width: 140px; }
.formFullTable .guarant .input:nth-child(3) { width: 100%; }


.formMdTable .formRow { width: 578px;}
.formMdTable .formRow.wid673 { width: 673px;}
.formMdTable .input { width: 100%;}
.formMdTable .input.inputBoss { width: 400px; flex-shrink: 0;}
.formMdTable .inputBizNumber .input { width: auto;}
.formMdTable .formGrayBox .formRow { width: 100%;}

.formGrayBox .input { width: 100%;}
.formGrayBox .input.wid240 { width: 240px;}

.formXsTable .input,
.formXsTable select,
.formXsTable .dateControl { width: 218px; }
.formXsTable .dateControl .input { width: 100%;}



/****************************
**********  grid  **********
*****************************/
.jsGridWrap { margin-top: 20px;}
.jsGridWrap .titH4.hasLine ~ .bbs_list { margin-top: 40px;}
.jsgrid-table {table-layout: fixed;}
.bbs { border: 1px solid #ddd; border-radius: 16px;}
.bbs .jsgrid-grid-header,
.bbs .jsgrid-grid-body   {overflow: auto;}
.jsgrid-header-row > .jsgrid-header-cell  {height:80px; font-size:20px; font-weight: 700; background:#F4F6F8;}
.jsgrid-cell    {height:100px; font-size:20px;  }

.jsgrid-header-row > .jsgrid-header-cell, 
.jsgrid-grid-header {border:0; }
.jsgrid-grid-body {border:0; height: calc(100% - 80px) !important}
.jsgrid-filter-row > .jsgrid-cell, 
.jsgrid-insert-row > .jsgrid-cell, 
.jsgrid-cell,
.jsgrid-edit-row > .jsgrid-cell {border:0; border-bottom:1px solid #ddd;}
.jsgrid-header-row:first-child .jsgrid-header-cell:first-child  {border-radius: 16px 0 0;}
.jsgrid-header-row:first-child .jsgrid-header-cell:last-child  {border-radius:  0 16px 0 0;}
.jsgrid-grid-header {background:none}
.jsgrid-selected-row > .jsgrid-cell   {background:#E5EDFB ;}

th{word-break: break-all;}
.jsgrid-cell,
.jsgrid-header-cell {padding:0; }

.jsgrid-header-sort:before { display: inline-block; float: none; margin-right: 10px; vertical-align: middle;}
.jsgrid-header-sort-asc:before { border-color: transparent transparent #323C94 transparent}
.jsgrid-header-sort-desc:before { border-color: #323C94 transparent transparent transparent}


.jsgrid-cell .sub { color: #999;}
.jsgrid-header-row .jsgrid-header-cell { border-bottom: 1px solid #ddd;}
.jsgrid-grid-body tbody tr:last-child > .jsgrid-cell { border-bottom: 0;}
/****************************
**********  Gauge  **********
*****************************/
.gaugeBox { width: 376px; border-bottom: 1px solid #EAEEF1;}
.gauge_circle { position: relative; left: 50%; margin-left: -160px; width: 320px; height: 190px; overflow: hidden;}
.gauge_body { position: absolute; top: 30px; width: 320px; height: 160px; background: #EAEEF2; border-radius: 160px 160px 0 0;  overflow: hidden;}
.gauge_fill { position: absolute; top: 100%; left: 0; width: inherit; height: 100%; background: #19376D; transform-origin: center top; transform: rotate(0.1turn);}

.gauge_pointer_wrap { position: absolute; top: 30px; width: 320px; height: 160px; z-index: 1;}
.gauge_pointer { position: absolute; top: 100%; left: 0; width: inherit; height: 100%; transform-origin: center top; transform: rotate(0.1turn);}
.gauge_pointer:before {content:""; position: absolute; bottom: calc(100% + -9px); left: -4px; width: 18px; height: 18px; background: #19376D; border-radius: 50%;}
.gauge_pointer:after {content:""; position: absolute; bottom: calc(100% + -13px); left: -8px; width: 26px; height: 26px; background: rgba(25, 55, 109, 0.20); border-radius: 50%;}
.gauge_bg { position: absolute; top: 40px; left: 50%; width: 300px; height: 300px; margin-left: -150px; background: #fff; border-radius: 50%;}


/****************************
**********  Range picker  **********
*****************************/
.rangeControl { position: relative; display: flex; gap: 10px; }
.rangeControl .input { min-height: 50px; padding: 0 16px;}
.rangeControl .btnBlue { display: inline-flex; align-items: center; justify-content: center; width: 50px; height: 50px; padding: 0;}
.rangeControl .btnBlue::after { content: ""; display: inline-block; margin-left: 0px; width: 24px; height: 24px; background: url(../images/common/ico_24_calendar_w.png) no-repeat 50% 50%; }


/****************************
**********  Date picker  **********
*****************************/
.dateControl { position: relative; display: flex; align-items: center; gap: 8px; }
.dateControl .input { min-height: 64px; padding: 0 16px;}
.dateControl .btnBlue { display: inline-flex; align-items: center; justify-content: center; flex-shrink: 0; width: 64px;  flex-shrink: 0;height: 64px; padding: 0;}
.dateControl .btnBlue::after { content: ""; display: inline-block; margin-left: 0px; width: 24px; height: 24px; background: url(../images/common/ico_24_calendar_w.png) no-repeat 50% 50%; }



/* lib override */
.datepicker { top: 50px;}
.searchControlBox .datepicker { top: 64px;}
.datepicker__topbar { display: none;}



/****************************
**********  layer  **********
*****************************/

.alertWrap      {position:fixed; width:100%; height:100%; z-index:5000; left:0; top:0; }
.alertWrap .alertBody      {position:absolute; left:50%; top:50%; transform: translateX(-50%) translateY(-50%); z-index:10; width:500px; padding:40px 40px 40px; border-radius: 16px; background:#fff }
.alertWrap .alertBody .alertCont      {padding-bottom:60px; padding-top:40px; text-align: center; font-size:24px; line-height:1.5;}
.alertWrap .alertBody .confirmCont    {padding-bottom:60px; padding-top:40px; text-align: center; font-size:24px; line-height:1.5;}
.alertWrap .alertBody .alertCont .tit      {font-size:30px; font-weight: 700; padding-bottom:40px;  }
.alertWrap .alertBody .alertCont strong,
.alertWrap .alertBody .confirmCont strong    {font-weight: 700; vertical-align: top;}
.alertWrap .alertBody .alertCont strong.red,
.alertWrap .alertBody .confirmCont strong.red     {color:#FE5050;}
.alertWrap .alertBody .alertFooter    {display:flex; gap:16px; }
.alertWrap .alertBody .alertFooter button    {width:100%; }
.alertWrap .alertBody button.alertClose    {position:absolute; right:40px; top:40px; width:24px; height:24px; background:url(../images/common/ico_24_close_b.png) no-repeat 0 0; }
.alertWrap .alertDimm     {position:absolute;  z-index:1; width:100%; height:100%; left:0; top:0; background:rgba(0, 0, 0, .4)}

.layerWrap      {position:fixed; left:-100%; z-index:1000; width:100%; height:100%; top:0; display: flex; overflow: hidden; }
.layerWrap .layerBody         {
  position:relative; width:724px; z-index:10; margin:auto; padding-bottom:40px; background:#fff; border-radius: 16px; overflow: hidden;
  transition: .3s; opacity: 0; transform: translateY(-50px); 
}

.layerCont        { max-height: calc(100vh - 400px); overflow: auto; }

.layerWrap .layerBody.wid870       {width:870px;  }
.layerWrap .layerBody .layerHead    {padding:30px 0;  background:#E5EDFB;   }
.layerWrap .layerBody .layerHead h3 {text-align: center; font-size: 30px; font-weight: 700;}
.layerWrap .layerBody .layerHead p { margin-top: 10px; color: #555; text-align: center; font-weight: 500;}
.layerWrap .layerBody .layerHead button.layerClose {position:absolute; right:40px; top:36px; width:24px; height:24px; background: url(../images/common/ico_24_close_b.png) no-repeat 0 0; }
.layerWrap .layerBody .layerHead button.layerClose:focus {outline: 2px dashed #5B7DDC; border-radius: 5px;}
.layerWrap .layerBody .layerCont    {padding:20px 40px 0;  }
.layerWrap .layerBody .layerFoot    {padding:40px 40px 0; text-align: center; }
.layerWrap .layerBody .layerFoot button    {min-width:250px; }
.layerWrap .layerDimm      {position:fixed; left:-100%;  transition:opacity .3s; opacity: 0; width:calc(100%); height:100%;  top:0; background:rgba(0, 0, 0, .4) }
.layerWrap.show      {left:0; }
.layerWrap.show .layerBody      {opacity:1; transform: translateY(0px); }
.layerWrap.show .layerDimm      {opacity:1; left:0; }


.layerWrap .layerBody.sizeM { width: 800px;}





/****************************
**********  content  **********
*****************************/
.pageTop        { position: relative; margin-bottom:40px; overflow: hidden; }
.pageTop.textCenter { margin-top: 60px;}
.pageTop h2.pageTit        {font-size:40px; color:#333; font-weight: 700; }
.pageTop ul.breadcrumb     { position: absolute; top: 10px; right: 0; }
.pageTop ul.breadcrumb li  { display: inline-block; vertical-align: text-bottom; }
.pageTop ul.breadcrumb li a.home {display:inline-block;  width:24px; height:24px; background:url(../images/common/ico_24_home.png) no-repeat 0 0;  }
.pageTop ul.breadcrumb li::before  {content: ""; display: inline-block; width:24px; height:24px; margin:0 8px; background:url(../images/common/ico_24_right_02.png) no-repeat 0 0; vertical-align: middle; }
.pageTop ul.breadcrumb li:first-child:before  {display:none;}
.pageTop ul.breadcrumb li a  {line-height:24px; font-size:16px; color:#555; }
.pageTop ul.breadcrumb li a strong{color:#323C94; }

.pageTop .pageSub { margin-top: 20px; color: #555;}

/****************************
**********  tab  **********
*****************************/
.tabpanel { display: none;}
.tabpanel.isShow { display: block;}

ul.tab      {width:100%; display:flex; gap:1; border-radius: 8px; overflow: hidden; }
ul.tab li   {width:100%; }
ul.tab li button   {display:block; width:100%; height:70px; text-align: center; font-size:24px; background:#F4F6F8; }
ul.tab li.on button   {background:#323C94; color:#fff; font-weight: 700;  }
ul.tab li:hover button,
ul.tab li button:focus   {background:#5B7DDC; color:#fff;  }

ul.evtTab      {width:100%; display:flex; gap:1; border-radius: 8px; overflow: hidden; flex-wrap: wrap; gap:10px; margin-bottom:60px;  }
ul.evtTab li button   {display:block; width:100%; height:64px; padding:0 32px; border-radius: 32px; text-align: center; font-size:24px; background:#fff; border:1px solid #ddd; }
ul.evtTab li.on button   {background:#323C94; color:#fff; font-weight: 700; border:1px solid #323C94;  }
ul.evtTab li:hover button,
ul.evtTab li button:focus   {background:#5B7DDC; color:#fff;  }

/* 탭 안의탭 */ 
ul.innerTab      {width:100%; display:flex; margin-top: 60px; border-radius: 8px; overflow: hidden; flex-wrap: wrap; gap:16px; }
ul.innerTab li button   {display:block; width:100%; height:64px; padding:0 32px; border-radius: 32px; text-align: center; font-size:20px; background:#fff; border:1px solid #323C94; color: #323C94; }
ul.innerTab li.on button   {background:#323C94; color:#fff; font-weight: 700; border:1px solid #323C94;  }
ul.innerTab li:hover button,
ul.innerTab li button:focus   {background:#5B7DDC; color:#fff;  }
ul.innerTab li.on .required { color: #fff; }
ul.innerTab li .required { margin-right: 4px; color: #FE5050; }

/* 라인있는 탭 너비 auto */ 
.tabLineWrap { border-bottom: 1px solid #ddd; }
.tabLine { display: flex; width: 1400px; height: 70px; margin: 0 auto; }
.tabLine button { height: 100%; padding: 0 32px; font-size: 24px; font-weight: 700;}
.tabLine li.on button { border-bottom: 3px solid #323C94; color: #323C94; }
.tabLine li button:focus { border: 2px dashed #5B7DDC; border-radius: 16px;}

/* 라인있는 탭 너비 100% */ 
.tabLine.fullType { width: 100%; border-bottom: 1px solid #ddd;}
.tabLine.fullType li { width: 100%;}
.tabLine.fullType li button { width: 100%; text-align: center; font-weight: 400;} 
.tabLine.fullType li.on button { width: 100%; text-align: center; font-weight: 700;} 

/* pager */
.external-pager     {text-align: center; margin-top:40px; }
.external-pager .jsgrid-pager     {font-size: 0;}
.external-pager .jsgrid-pager span     {display:inline-block; width:30px; height:30px;  }
.external-pager .jsgrid-pager span.jsgrid-pager-nav-button     {width:24px; height:30px; margin:0 3px 0 4px; }
.external-pager .jsgrid-pager span.jsgrid-pager-nav-button a   {display:block; width:100%; height:30px; overflow: hidden; text-indent: -200px;  }
.external-pager .jsgrid-pager span.jsgrid-pager-nav-button:nth-child(1) a     {background: url(../images/common/ico_24_left_double_02.png) no-repeat 50% 50%;}
.external-pager .jsgrid-pager span.jsgrid-pager-nav-button:nth-child(2) a     {background: url(../images/common/ico_24_left_02.png) no-repeat 50% 50%;}
.external-pager .jsgrid-pager span.jsgrid-pager-nav-button:nth-last-child(2) a {background: url(../images/common/ico_24_right_03.png) no-repeat 50% 50%;}
.external-pager .jsgrid-pager span.jsgrid-pager-nav-button:nth-last-child(1) a {background: url(../images/common/ico_24_right_double_02.png) no-repeat 50% 50%;}
.external-pager .jsgrid-pager span.jsgrid-pager-nav-button.jsgrid-pager-nav-inactive-button     {display:none; }
.external-pager .jsgrid-pager span.jsgrid-pager-page,
.external-pager .jsgrid-pager span.jsgrid-pager-page a          {font-size:18px; line-height:30px; color:#555; padding:0; }
.external-pager .jsgrid-pager span.jsgrid-pager-page      {margin:7px 7px;}
.external-pager .jsgrid-pager .jsgrid-pager-nav-button + .jsgrid-pager-page      {margin-left:11px}
.external-pager .jsgrid-pager .jsgrid-pager-page + .jsgrid-pager-nav-button      {margin-left:7px}
.external-pager .jsgrid-pager span.jsgrid-pager-page.jsgrid-pager-current-page          {background:rgba(82, 132, 227, 0.15); border-radius: 8px; color:#323C94; font-weight: 700; }


/* faq */ 
dl.faqCont            {border-top:2px solid #323C94; }
dl.faqCont dt         {position:relative; padding:30px 40px; background:#F4F6F8; cursor: pointer; }
dl.faqCont dt ~ dt    {border-top:1px solid #ddd; }
dl.faqCont dt label   {font-size:24px; font-weight: 700 }
dl.faqCont dt label em   { margin-left:4px; vertical-align: 1px; }
dl.faqCont dt label em.required   {color:#323C94; }
dl.faqCont dt::after  {content:""; transition: .3s; position:absolute; right:40px; top:50%; width:24px; height:24px; transform: translateY(-50%); background:url(../images/common/ico_24_down.png) no-repeat  }
dl.faqCont dd         {display:none; padding:30px 80px; font-size:20px; line-height:1.5  }
dl.faqCont dt.on + dd {display:block; }
dl.faqCont dt.on::after  {transform: rotate(180deg) translateY(50%) ;}

/* bbs */
.no-data      {height:430px; text-align: center; display:flex; background:#F4F6F8; border-radius: 16px; }
.no-data span {margin:auto; padding-top:220px; background:url(../images/common/no_data_1.png) no-repeat 50% 0; }

/* bbs detail */
.bbsDetailBox       {  overflow: hidden; }
.bbsDetailBox .titBox     {width:100%; padding:33px 60px; gap:25px; background:#E5EDFB; border-radius:16px 16px 0 0; display:flex;  }
.bbsDetailBox .titBox *       {margin:auto 0; }
.bbsDetailBox .titBox h3.tit  {font-size:24px; font-weight: 700; }
.bbsDetailBox .titBox p       {color:#555; font-weight: 500;  }
.bbsDetailBox .titBox p.ment  {text-align: right; flex:1;  }
.bbsDetailBox .titBox p.date  {color:#333; font-weight: 700; text-align: right; flex:1; }
.bbsDetailBox .titBox p.date_l{color:#555; font-weight: 500; }
.bbsDetailBox .titBox span.date { font-size: 18px; font-weight: 500; text-align: right; flex:1;}
.bbsDetailBox .detailCont     {border:1px solid #ddd; padding:60px;  border-top:0; border-radius:0 0 16px 16px;  }

/* 가이드 */
ul.guideBox       {padding:40px; background:#F4F6F8; border-radius: 16px; margin-top:40px; }

.bbsDetailBox .viewLineTable { margin-top: 20px; }
.bbsDetailBox:has(.titBox) .viewLineTable { margin-top: 40px; }
.bbsDetailBox .viewLineTable .table_bt { padding-top: 60px;}

.bbsDetailGrayBox { padding: 60px; background: #F4F6F8; border-radius: 16px;}
.bbsDetailGrayBox .titBox { display: flex; align-items: center; justify-content: space-between;}

.bbsDetailGrayBox {margin-top: 20px;}
.bbsDetailGrayBox .re::before { content: ''; display: inline-block; width: 24px; height: 24px; margin-right: 5px; background: url('../images/common/ico_24_comment_g.png'); vertical-align: middle;}
.bbsDetailGrayBox .date { font-weight: 700; }
.bbsDetailGrayBox .detailCont { margin-top: 40px;}

.lineBox { border: 1px solid #ddd; border-radius: 16px;}
.lineBox .viewLineTable { padding: 40px 60px;}

/* 보안프로그램 */
.programDown      {}
/* .programDown .programTit      { text-align: center; } */
.programDown .programTit p      { margin-top:20px;  }
.programDown .programTit .downBtn{ margin-top:30px;  }
.programDown .table_wrap {margin-top:60px; }
.programDown .programList table td button { width:170px; }

/* main */

.bnrInerCont      {margin:80px auto;}

/* tooltip */
.tooltip_q        {position:relative; display:inline-block; width:24px; height:24px; background:url(../images/common/ico_q.png) no-repeat 0 0; cursor: pointer;   }
.tooltip_q.on     {}
.tooltip_q .tooltipLayer     {position:absolute; bottom:50px; left:-30px; background:#E5EDFB; border-radius: 16px; display:flex; white-space: nowrap; padding:30px;     }
.tooltip_q .tooltipLayer::before     {content:""; position:absolute; left:30px; height:21px;  bottom:-20px; width:20px; background: url(../images/common/bul_polygon.png) no-repeat 0 0; background-size: contain;}

/****************************
**********  로그인 페이지  **********
*****************************/
/* 진 */
/* 공통 */
.loginWrap { position: relative;}
.loginWrap .loginBtn { width: 530px; margin: 60px auto 0; }
.loginWrap .loginBtn button,
.loginWrap .loginBtn a { width: 100%; height: 70px; line-height: 70px;}
.loginWrap .label { font-weight: 700;}

/* 탭이 있는 경우 */ 
.tabpanel .pageTop { position: absolute; top: 0; left: 50%; transform: translate(-50%, -100%); margin: 0;}
.loginWrap .tabWrap { width: 530px; margin: 40px auto 0;}
.loginWrap .input { width: 100%;}
.loginWrap .inputBizNumber .input { width: auto;}
.loginWrap .tabpanel { display: none; padding: 40px 0 0;}
.loginWrap .tabpanel.isShow { display: block; }
.loginWrap .formCont { display: flex; flex-direction: column; min-height: 254px; }
.loginWrap .tabpanel.wid400 .label { width: calc(100% - 400px); flex-shrink: 0;}
.loginWrap .tabpanel.wid400 .errorTxt { margin-left: calc(100% - 400px + 8px); }
.loginWrap .tabpanel.wid346 .label { width: calc(100% - 346px); flex-shrink: 0;}
.loginWrap .tabpanel.wid346 .errorTxt { margin-left: calc(100% - 346px + 8px); }
.loginWrap .pageTop[data-tabTitle].isHidden { display: none;}
.tabWrap.fixHeight .tabpanel{ position: relative; height: 318px;}
.tabWrap.fixHeight .loginBtn { position: absolute; bottom: 0;}

/* 탭이 없는 경우 */
.loginCon { width: 530px; margin: 60px auto 0;}
.loginTit .info_txt { margin-top: 20px;}
.loginCon.wid346 .label { width: calc(100% - 346px); flex-shrink: 0;}
.loginCon.wid346 .errorTxt { margin-left: calc(100% - 346px + 8px); }
.loginCon.wid400 .label { width: calc(100% - 400px); flex-shrink: 0;}
.loginCon.wid400 .errorTxt { margin-left: calc(100% - 400px + 8px); }
