@charset "utf-8";

/****************************
**********  color  **********
*****************************/
/* Main color */
.mainGreen {color:#21847c} 
.darkGreen {color:#3a6261} 

/* Point color */
.pntCol_1 {color:#e22000} 
.pntCol_2 {color:#d2c297} 
.pntCol_3  {color:#9a895d}

/* color */
.black	{color:#000} 
.brown	{color:#7f6c66} 
.green	{color:#537a7c}

/****************************
**********  button  **********
*****************************/

button    {background:none; cursor: pointer; transition: .2s;}

/* MAIN 버튼 */ 
button.btnBlue        {padding:0 50px; height:64px; background:#323C94; border-radius: 8px; font-size: 20px; text-align: center; font-weight: 700; color:#fff  }
button.btnSky         {padding:0 50px; height:64px; background:#5B7DDC; border-radius: 8px; font-size: 20px; text-align: center; font-weight: 700; color:#fff }
button.btnWhite       {padding:0 50px; height:64px; background:#ffffff; border-radius: 8px; font-size: 20px; text-align: center; font-weight: 700; color:#323C94; border:1px solid #323C94; }
button.btnBlack       {padding:0 50px; height:64px; background:#333333; border-radius: 8px; font-size: 20px; text-align: center; font-weight: 700; color:#fff; border:1px solid #fff; }

table button.btnBlue        {padding:0 32px; height:50px; }
table button.btnSky         {padding:0 32px; height:50px; }
table button.btnWhite       {padding:0 32px; height:50px; }
table button.btnBlack       {padding:0 32px; height:50px; }

button.btnBlue:hover        { background:#4260BB;  }
button.btnSky:hover         { background:#7793E2;  }
button.btnWhite:hover       { background:#323C94; color:#fff }
button.btnBlack:hover       { background:#ffffff; color:#323C94 }

button.btnBlue:active        { background:#323C94;  }
button.btnSky:active         { background:#5B7DDC ;  }
button.btnWhite:active       { background:#323C94; color:#fff }
button.btnBlack:active       { background:#ffffff; color:#323C94 }

button.btnBlue:disabled,
button.btnSky:disabled,
button.btnWhite:disabled,
button.btnBlack:disabled       { background:#dddddd; color:#999; border:0;  }

button.ico_down       {padding:0 32px;}
button.ico_down::after       {content:""; display:inline-block; margin-left:8px; width:24px; height:24px; vertical-align: -5px; background:url(../images/common/ico_24_download_blue.png) no-repeat 50% 50%; }
button.btnBlue.ico_down::after  {background:url(../images/common/ico_24_download_white.png) no-repeat 50% 50%; }
button.btnSky.ico_down::after  {background:url(../images/common/ico_24_download_white.png) no-repeat 50% 50%; }
button.btnWhite.ico_down::after  {background:url(../images/common/ico_24_download_blue.png) no-repeat 50% 50%; }
button.btnWhite:active.ico_down::after,
button.btnWhite:hover.ico_down::after  {background:url(../images/common/ico_24_download_white.png) no-repeat 50% 50%; }
button.btnBlack.ico_down::after  {background:url(../images/common/ico_24_download_white.png) no-repeat 50% 50%; }
button.btnBlack:hover.ico_down::after,
button.btnBlack:active.ico_down::after  {background:url(../images/common/ico_24_download_blue.png) no-repeat 50% 50%; }

button.size_XL      {height:70px;  }
button.size_M       {height:50px; }
button.wid_530      {min-width:530px;}

/* 유틸 버튼 */
button.btnReset     {font-size: 20px; font-weight: 700; color:#555}
button.btnReset::after     {content:""; display:inline-block; margin-left:8px; width:24px; height:24px; vertical-align: -5px; background:url(../images/common/ico_24_refresh.png) no-repeat 50% 50%; }
button.btnFile      {font-size: 20px; font-weight: 700; color:#323C94; text-decoration: underline;}
button.btnFile::after  {content:""; display:inline-block; margin-left:8px; width:24px; height:24px; vertical-align: -5px; background:url(../images/common/ico_24_download_blue.png) no-repeat 50% 50%; }
button.btnDown          {width:50px; height:50px; border-radius: 8px; background:url(../images/common/ico_24_download_white.png) no-repeat 50% 50% #323C94;  }
button.btnDown:hover    {background-color:#4260BB ;  }
button.btnDown.white      {border:1px solid #323C94; background-image:url(../images/common/ico_24_download_blue.png); background-color:#fff ;  }
button.btnDown.white:hover {border:1px solid #323C94; background-color:#323C94 ; background-image:url(../images/common/ico_24_download_white.png);  }



/****************************
**********  form  **********
*****************************/
/* checkbox, radio */

/* checkbox */ 

/* radio */ 


/****************************
**********  table  **********
*****************************/
.table_top     {}
.table_bt      {width:100%; padding:20px 0 0px;}
.table_bt::after      {content: ""; display:block; clear: both;}
.table_bt .btn_r      {float:right; }

.table_wrap    {}

table.bbs_list    {width:100%;; }
table.bbs_list th   {height:80px; background:#F4F6F8;  }
table.bbs_list tr:first-child th:first-child   { border-radius: 16px 0 0 0 }
table.bbs_list tr:first-child th:last-child   { border-radius:  0 16px 0 0 }
table.bbs_list td   {height:100px; border-bottom:1px solid #ddd; }

input[type=checkbox].star    {border:0; width:24px; height:24px; background:url(../images/common/ico_24_star_off.png) no-repeat 50% 50%; -webkit-appearance:none}
input[type=checkbox].star:checked    {background:url(../images/common/ico_24_star_on.png) no-repeat 50% 50%; }



/****************************
**********  grid  **********
*****************************/
.jsgrid-table {table-layout: fixed;}
.nomal_table .jsgrid-grid-header,
.nomal_table .jsgrid-grid-body   {overflow: auto;}
.jsgrid-grid-header  {}
.jsgrid-header-row > .jsgrid-header-cell  {height:80px; font-size:20px; font-weight: 700; background:#F4F6F8;}
.jsgrid-cell    {height:100px; font-size:20px;  }

.jsgrid-header-row > .jsgrid-header-cell, 
.jsgrid-grid-header {border:0; }
.jsgrid-grid-body {border:0; }
.jsgrid-filter-row > .jsgrid-cell, 
.jsgrid-insert-row > .jsgrid-cell, 
.jsgrid-cell,
.jsgrid-edit-row > .jsgrid-cell {border:0; border-bottom:1px solid #ddd;}
.jsgrid-header-row:first-child .jsgrid-header-cell:first-child  {border-radius: 16px 0 0;}
.jsgrid-header-row:first-child .jsgrid-header-cell:last-child  {border-radius:  0 16px 0 0;}
.jsgrid-grid-header {background:none}

th{word-break: break-all;}
.jsgrid-cell,
.jsgrid-header-cell {padding:0; }


/****************************
**********  content  **********
*****************************/
.pageTop        {padding-bottom:40px; overflow: hidden; }
.pageTop h2.pageTit        {float:left; font-size:40px; color:#333; font-weight: 700; }
.pageTop ul.breadcrumb     {float:right; }
.pageTop ul.breadcrumb li  {float:left; height:24px; }
.pageTop ul.breadcrumb li a.home {display:block;  width:24px; height:24px; background:url(../images/common/ico_24_home.png) no-repeat 0 0;  }
.pageTop ul.breadcrumb li::before  {content: ""; width:24px; height:24px; margin:0 8px; float:left; background:url(../images/common/ico_24_right_02.png) no-repeat 0 0; }
.pageTop ul.breadcrumb li:first-child:before  {display:none;}
.pageTop ul.breadcrumb li a  {line-height:24px; font-size:16px; color:#555; }
.pageTop ul.breadcrumb li a strong{color:#323C94; }

ul.tab      {width:100%; display:flex; gap:1; border-radius: 8px; overflow: hidden; }
ul.tab li   {width:100%; }
ul.tab li button   {display:block; width:100%; height:70px; text-align: center; font-size:24px; background:#F4F6F8; }
ul.tab li.on button   {background:#323C94; color:#fff; font-weight: 700;  }
ul.tab li:hover button,
ul.tab li button:focus   {background:#5B7DDC; color:#fff;  }

/* pager */
.external-pager     {text-align: center; margin-top:40px; }
.external-pager .jsgrid-pager     {font-size: 0;}
.external-pager .jsgrid-pager span     {display:inline-block; width:30px; height:30px;  }
.external-pager .jsgrid-pager span.jsgrid-pager-nav-button     {width:24px; height:30px; margin:0 3px 0 4px; }
.external-pager .jsgrid-pager span.jsgrid-pager-nav-button a   {display:block; width:100%; height:30px; overflow: hidden; text-indent: -200px;  }
.external-pager .jsgrid-pager span.jsgrid-pager-nav-button:nth-child(1) a     {background: url(../images/common/ico_24_left_double_02.png) no-repeat 50% 50%;}
.external-pager .jsgrid-pager span.jsgrid-pager-nav-button:nth-child(2) a     {background: url(../images/common/ico_24_left_02.png) no-repeat 50% 50%;}
.external-pager .jsgrid-pager span.jsgrid-pager-nav-button:nth-last-child(2) a {background: url(../images/common/ico_24_right_03.png) no-repeat 50% 50%;}
.external-pager .jsgrid-pager span.jsgrid-pager-nav-button:nth-last-child(1) a {background: url(../images/common/ico_24_right_double_02.png) no-repeat 50% 50%;}
.external-pager .jsgrid-pager span.jsgrid-pager-nav-button.jsgrid-pager-nav-inactive-button     {display:none; }
.external-pager .jsgrid-pager span.jsgrid-pager-page,
.external-pager .jsgrid-pager span.jsgrid-pager-page a          {font-size:18px; line-height:30px; color:#555; padding:0; }
.external-pager .jsgrid-pager span.jsgrid-pager-page      {margin:7px 7px;}
.external-pager .jsgrid-pager .jsgrid-pager-nav-button + .jsgrid-pager-page      {margin-left:11px}
.external-pager .jsgrid-pager .jsgrid-pager-page + .jsgrid-pager-nav-button      {margin-left:7px}
.external-pager .jsgrid-pager span.jsgrid-pager-page.jsgrid-pager-current-page          {background:rgba(82, 132, 227, 0.15); border-radius: 8px; color:#323C94; font-weight: 700; }

/****************************
**********  layer  **********
*****************************/

.alertWrap      {position:fixed; width:100%; height:100%; z-index:5000; left:0; top:0; }
.alertWrap .alertBody      {position:absolute; left:50%; top:50%; transform: translateX(-50%) translateY(-50%); z-index:10; width:610px; padding:40px 40px 60px; border-radius: 16px; background:#fff }
.alertWrap .alertBody .alertCont      {padding-bottom:60px; text-align: center;}
.alertWrap .alertBody .alertFooter    {display:flex; gap:16px }
.alertWrap .alertBody .alertFooter button    {width:100%; background:#ddd; }
.alertWrap .alertDimm     {position:absolute;  z-index:1; width:100%; height:100%; left:0; top:0; background:rgba(0, 0, 0, .4)}
