@charset "utf-8";

@import url('./font/Pretendard-1.3.8/web/static/pretendard.css');
@import url('../js/lib/jsgrid-1.5.3/dist/jsgrid.css');
@import url('../js/lib/jsgrid-1.5.3/dist/jsgrid-theme.css');
@import url('./base.css');
@import url('./common_cont.css');

/* layout */
/*
 * z-index 정의
 *
  header : none
  headerCont : 500 
  container : 2
  footer : 2
  layer  : 1000
  alert : 5000

*/

/* body  {background:rgba(244, 246, 248, 1)} */


/* content - common */
 

/* 락 */
ul.loginTab li button.loginTabBtn  {position:absolute; height:70px; width:50%; top:0; font-size:24px; border-bottom:1px solid #ddd;   }
ul.loginTab li.on button.loginTabBtn  {color:#323C94; font-weight: 700; border-bottom:2px solid #323C94; }
ul.loginTab li + li button.loginTabBtn  {left:50%;  }
ul.loginTab li div.login_form  {position:absolute; left:0; top:110px; width:530px; transform:translateX(-100%); transition: transform .3s;   }
ul.loginTab li.on div.login_form    {transform:translateX(0%);}
ul.loginTab li.on.fast div.login_form    {transition:none;}
ul.loginTab li + li div.login_form  {transform:translateX(100%);  }
ul.loginTab li + li.on div.login_form  {transform:translateX(0%);  }
ul.loginTab li div.login_form .row + .row  {margin-top:20px; }
ul.loginTab li div.login_form label   {min-width:130px; padding-left:0;padding-right:0;  }
ul.loginTab li div.login_form .inputWrap input   {width:400px; }
ul.loginTab li div.login_form#cont_certificate_login .inputWrap input   {width:100px; }
ul.loginTab li div.loginBtn   {position:absolute; top:214px; width:100%; }


/* 진희 */


/* content - page */
/* 제안서 관리 */
.proposalManage .formListTable ~ .formListTable { margin-top: 65px; }
.proposalManage .fixedTableWrap { margin-top: 65px;}
.proposalManage .fixedTable { margin-top: 40px;}
.proposalManage .fixedTable .defaultTable { height: 660px;}
.proposalManage .formFullTable .radioGroup { min-height: 0;}

/* faq */ 
.faqPage .accordion { margin-top: 60px;}
/* 락 */
/* 메인 */



/* 약관 */
.content_terms    {margin-top:80px; }
.content_terms .terms_type    {padding:40px 0 0;}
.content_terms .terms_ment    {padding:40px 0 20px;}


/* 진희 */

/* 회원가입 */
.joinStep { margin-top: 60px; text-align: center; }
.joinStep li { position: relative; display: inline-block; width: 162px; margin-right: 26px;}
.joinStep li:last-child { margin-right: 0px;}
.joinStep li .circle { display: inline-block; width: 48px; height: 48px; line-height: 48px; background-color: #ddd; border-radius: 50%; color: #fff; font-size: 30px; font-weight: 700;}
.joinStep li .name { margin-top: 8px; color: #999; font-size: 20px; }
.joinStep li::before { content: ''; position: absolute; top: 23px; left: -50%; display: inline-block; width: 132px; height: 2px; background: #ddd;}
.joinStep li:first-child::before { display: none;}
.joinStep li.on .circle { background: #323C94; }

/* 페이지 테이블 - 가입 */
.joinTable .input { width: 400px;}
.formGrayBox .inputWrap:not(.hasUnit) { display: block;}
.formGrayBox .input { width: 100%;}



/* 메인 */
.container.main { padding-bottom: 100px;}
.container.main::before { content: ''; position: absolute; top: 0; display: block; width: 100%; height: 620px;  background: #323C94; z-index: -1;}
.container.main section { width: 1400px; margin: 0 auto;}

.bannerLoansMain { height: 620px; padding-left: 40px; background: url(../images/common/banner_main.png) 436px 255px center / contain no-repeat }
.bannerLoansMain h2 { padding-top: 80px; color: #fff; font-size: 38px; line-height: 2; }
.bannerLoansMain h2 strong { font-size: 52px; }

.stepLoans { display: flex; gap: 20px; margin-top: -238px;  }
.stepLoans .step {display: flex; flex-direction: column; width: 25%;}
.stepLoans .step .box { height: 368px; padding: 60px 0; background-color: #fff; border-radius: 15px; text-align: center;}
.stepLoans .step .box::before { content: ''; display: block; width: 80px; height: 80px; margin: 0 auto;}
.stepLoans .step:nth-child(1) .box::before { background: url(../images/common/ico_loanstep_1.png) center / contain no-repeat}
.stepLoans .step:nth-child(2) .box::before { background: url(../images/common/ico_loanstep_2.png) center / contain no-repeat}
.stepLoans .step:nth-child(3) .box::before { background: url(../images/common/ico_loanstep_3.png) center / contain no-repeat}
.stepLoans .step:nth-child(4) .box::before { background: url(../images/common/ico_loanstep_4.png) center / contain no-repeat}
.stepLoans .step .box h3 { margin-top: 60px; color: #5B7DDC; font-size: 24px;}
.stepLoans .step .box p { margin-top: 10px;}
.stepLoans ul { display: block;}

.stepLoans.is_logined {}
.stepLoans.is_logined .step {}

.bannerLoans { height: 120px; display: flex; align-items: center; margin-top: 80px; background: #71F4E4; border-radius: 15px; color: #fff; font-size: 30px; }
.bannerLoans .inner { width: 768px; margin: 0 auto;}

.userInfoMain { }
.userInfoMain .greeting_msg { color: #fff; font-size: 20px; }
.userInfoMain .user { font-size: 40px; }
.userInfoMain .user strong { font-weight: 700;}
.userInfoMain .user .icon { }
.userInfoMain .tooltip_wrap {}
.userInfoMain .tooltip_wrap .icon {}
.userInfoMain .tooltip_wrap .tooltip_con {}

.bannerWithUs { margin-top: 80px; }
.bannerWithUs h2 { color: #333; font-size: 32px; text-align: center;}
.bannerWithUs p { margin-top: 20px; color: #555; text-align: center;}
.bannerWithUs ul { display: flex; gap: 40px; margin-top: 60px;}
.bannerWithUs ul li { width: 200px; height: 70px; border-radius: 8px; border: 1px solid #DDD; line-height: 70px; text-align: center;}

.tableInfo.suggest { margin: 40px 0;}
.tableInfo.suggest table {}
.tableInfo.suggest tr {}
.tableInfo.suggest td { padding: 20px 0;}

.tableInfo.suggest .status {}
.tableInfo.suggest .opt {}


.suggestLoanList { background: #d9d9d9; border-radius: 15px; }


