@charset "utf-8";

@import url('../adm_js/lib/jsgrid-1.5.3/dist/jsgrid.css');
@import url('../adm_js/lib/jsgrid-1.5.3/dist/jsgrid-theme.css');
@import url('./font/Pretendard-1.3.8/web/static/pretendard.css');
@import url('./base.css');
@import url('./common_cont.css');

/* layout */ 
/*
 * z-index 정의
 *
  header : none
  headerCont : 500 
  container : 2
  footer : 2
  layer  : 1000
  alert : 5000

*/
/* layout */
body    {min-width:1920px;  }
.headerCont   {width:1920px;  padding:16px 60px 0; height:130px; }
.headerUtil   {display:none; }
.headerCont ul.gnb    {position:absolute; width:100%; top:80px; padding:0;  }
.headerCont ul.gnb li.depth_1 > a       {height:50px; padding:11px 8px;  }
.headerCont ul.gnb li.depth_1 > a span    {padding-left:0; background:none !important; }
.headerCont ul.gnb li li.depth_2 > a:hover,
.headerCont ul.gnb > li.on > a, .headerCont ul.gnb li a:hover   {box-shadow: none;}

header::after,
header::before    {display:none;}
header .bg    {opacity:1;top:130px; height:50px; border-bottom:1px solid #ddd; background:#F4F4F4;    }
header.on .bg     {width:100%; top:130px; height:50px; z-index:498; background:#F4F4F4;    }
header .line   {display:block; height:130px; z-index:499; top:0;  background:#fff; border-bottom:1px solid #ddd; }

.on .headerCont ul.gnb li.depth_1 ul      {display:none}
/* .headerCont ul.gnb li.depth_1 ul      {display:block; } */
.on .headerCont ul.gnb li.depth_1 ul    {padding:0; }

.headerCont ul.gnb li.depth_1 ul    {width:auto; display:none; top:50px; margin-left:-100px; }
.on .headerCont ul.gnb li.depth_1 ul    {width:100%; display:none;  }
.headerCont ul.gnb li.depth_1.on ul    {display:flex;  }
.on .headerCont ul.gnb li.depth_1.on ul    {display:flex;  }
.headerCont ul.gnb li.depth_1 ul li  {white-space: nowrap; padding:0 40px; }
.headerCont ul.gnb li.depth_1 ul li a  {line-height:50px; padding:0;  }
.headerCont ul.gnb li.depth_1 ul li + li::before  {content:""; top:15px; height:20px; width:1px; background:#888; position:absolute; left:0; }


.headerCont ul.gnb li.depth_1.on > a    {display:block; width:100%; color:#069B66; font-weight: 700; }
.headerCont ul.gnb li.depth_1 > a    {color:#333; font-weight: 500 ; box-shadow: none;  transition: none; }
.on .headerCont ul.gnb li.depth_1.on > a    {color:#333; font-weight: 500 ;}
.on .headerCont ul.gnb li.depth_1.on > ul    {display:none; }
.on .headerCont ul.gnb li.depth_1.hover > a    {color:#069B66; font-weight: 700 ;}
.on .headerCont ul.gnb li.depth_1.hover > ul    {display:flex; }
.on .headerCont ul.gnb li.depth_1.hover > ul a:hover    {color:#069B66; }
.on .headerCont ul.gnb li.depth_1:nth-child(7) > ul    {margin-left:-400px; }
.on .headerCont ul.gnb li.depth_1:nth-child(8) > ul    {margin-left:-400px; }
.on .headerCont ul.gnb li.depth_1:nth-child(9) > ul    {margin-left:0px; }

.container      {padding-top:60px; }
.bgWrap       {padding:40px 0; border-top:1px solid #ddd; border-bottom:1px solid #ddd; background:#FAFAFA; }
.bgWrap table.bbs_list td      {background:#EEF0F1; }

section       {max-width:1920px; padding:0 60px;  }
.bgWrap section { padding: 0 120px}
.pageTop      {}
.pageTop ul.breadcrumb      {left:60px; top:0;  }
.pageTop h2      {padding-top:70px;   }
.pageTop p.dataInfo      {position:absolute; right:60px; bottom:0px; color:#4C9DA2; text-align: right; }

.main .pageTop h2      {padding-top:0; }
.main.container      {padding:40px 0; background: #FAFAFA; min-height:calc(100vh - 320px) }

footer    {width:100%; }
.table_bt   {max-width: 1920px;}
.searchControlBox   {border:1px solid #ddd; background:#f4f4f4; }
.tabLineWrap .inner  {max-width:1920px; position:relative; padding:0 60px; }
.tabLineWrap p.info_txt  {position:absolute; right:0; bottom:20px }
.tabLine    {max-width:1920px; }
/* body  { background:rgba(244, 246, 248, 1)} */

/* */


.searchControlBox .dateTab          {height:50px; border:1px solid #ddd; border-radius: 8px;   display:flex; flex-direction: row; background:#fff; }
.searchControlBox .dateTab button    {border:0; width:130px; height:50px; border-radius: 8px; margin:-1px 0 0 -1px; }
.searchControlBox .dateTab button + button{margin:-1px -1px 0 0  ;}
.searchControlBox .dateTab button.on {background:#069B66; color:#fff; font-weight: 700; }



.memberMent     {text-align: center; margin-bottom:20px; }
.memberMent strong     {font-size:18px; }
.memberMent div     {margin-top:10px; }

section.detail      {padding:0 120px; }
ul.innerTab     {max-width:1920px; margin-bottom:40px; margin-top:-20px; }


.formLdTable      {width:1020px; }
.table_wrap + h3.tit45      {margin-top:40px; }
.searchControlGroup   {column-gap: 8px; }
fieldset  {margin-bottom:40px; }
fieldset.tableFilterGroup  {margin-bottom:20px; }


.adm.login .wrap        {display:flex; flex-direction: column; min-height:100vh }
.adm.login .wrap .container        {margin:0 0 auto; }
.loginCont        {background:url(../adm_images/common/logo.png) no-repeat 50% 100px; padding:220px 0 0;}

div.login_form.change_pw  { margin:0 auto; max-width:530px; margin:60px auto 0;  }
div.login_form.change_pw .formBox  { padding-left:150px; }
div.login_form.change_pw .loginBtn  { margin-top:60px; }
ul.loginTab li button.loginTabBtn  { position:absolute; height:60px; width:50%; top:0; font-size:18px; border-bottom:1px solid #ddd;   }
ul.loginTab li button.loginTabBtn:focus  { outline: 2px dashed #069B66; border-radius: 5px;}
ul.loginTab li.on button.loginTabBtn  { color:#069B66; font-weight: 700; border-bottom:3px solid #069B66; width:100%; }
ul.loginTab li + li button.loginTabBtn  { left:50%;  }
ul.loginTab li div.login_form  { position:absolute; left:0; top:80px; width:530px;  display:none; margin:0px 0 0;   }
ul.loginTab li div.login_form .errorTxt  { margin-top:5px; line-height:18px;}
ul.loginTab li.on div.login_form    { display:block;}
ul.loginTab li.on.fast div.login_form    { transition:none;}
ul.loginTab li .row + .row  { margin-top:20px; }
ul.loginTab li .row .formRow { display: flex; flex-direction: column; align-items: flex-start; gap: 0; width: 400px;}
ul.loginTab li .row label   { min-width:130px; padding-left:0;padding-right:0;  }
ul.loginTab li .row input   { width: 100%; }
ul.loginTab li div.loginBtn   { position:absolute; top:150px; width:100%; }
ul.loginTab .hasError .errorTxt { display: block;}   
ul.loginTab li div.login_form p.info_txt  { position:absolute; left:50%; top:-180px; width:700px; transform: translateX(-50%); text-align: center;   }

ul.loginTab.searchId  div.login_form .formBox  { padding-left:150px; }
ul.loginTab li #cont_certificate_login .formBox { padding-left:150px; }
ul.loginTab li #cont_certificate_login .formRow { width:100%; }
ul.loginTab li .formRow .textCenter  { display:flex;  }
ul.loginTab li .formRow .textCenter input  { width:100%; }



/* */
.memoForm     {padding:40px; background:#fff; border:1px solid #ddd; border-radius:16px;  }
.memoForm.formListTable .table_bt     {padding-top:20px; }

.memoHistory      {background:#fff; padding:40px ; margin-top:40px; border:1px solid #ddd; border-radius: 16px;   }
.memoHistory table th      {text-align: left; vertical-align: top; width:100px;  }
.memoHistory table td      {text-align: left;  }
.memoHistory table td textarea      {height:90px; }

.memoHistory table tr + tr th,
.memoHistory table tr + tr td      {padding-top:40px; }

.memoHistory table + table  {margin-top:40px; border-top:1px solid #ddd; }
.memoHistory table + table tr:first-child th,
.memoHistory table + table tr:first-child td      {padding-top:40px;}
.memoHistory table td.btns      {text-align: right; padding:14px 0 0;  } 
.memoHistory table td.btns button   {height:40px; } 

/* dashboard */
ul.boxWrap        {display:flex; row-gap: 20px; margin-top:20px; }
ul.boxWrap li.box,
ul.boxWrap .box         {border:1px solid #ddd; background:#fff; border-radius: 16px; min-height:200px;  }
ul.boxWrap li.box.bgGreen        {background:#F6FBF7; }
ul.boxWrap li.memCount        {text-align: center; padding:40px 0 0; }
ul.boxWrap li.memCount span        {display:inline-block; font-size:16px; font-weight: 700;  }
ul.boxWrap li.memCount span.ico_1  {padding-left:30px; background:url(../adm_images/adm/user-alt-1.png) no-repeat 0 50%; }
ul.boxWrap li.memCount span.ico_2  {padding-left:30px; background:url(../adm_images/adm/user-check-alt-1.png) no-repeat 0 50%; }
ul.boxWrap li.memCount span.ico_3  {padding-left:30px; background:url(../adm_images/adm/user-heart-alt-1.png) no-repeat 0 50%; }
ul.boxWrap li.memCount span.ico_4  {padding-left:30px; background:url(../adm_images/adm/poll-people.png) no-repeat 0 50%; }
ul.boxWrap li.memCount strong  {display:block; margin-top:30px; font-size:30px; color:#069B66 }

ul.boxWrap li.usageStatus:first-child       {max-width:585px; }
ul.boxWrap li.bgRed             {max-width:300px; background:linear-gradient(0deg, rgba(254, 80, 80, 0.05) 0%, rgba(254, 80, 80, 0.05) 100%), rgba(255, 255, 255, 0.20); }
ul.boxWrap li.bgRed ul li strong  {color:#FE5050}

ul.boxWrap li.usageStatus       {position:relative; text-align: center; padding:30px 0 0; }
ul.boxWrap li.usageStatus span.tit       {display:inline-block; font-weight: 700; padding-left:30px;  }
ul.boxWrap li.usageStatus.bgRed span.tit       {color:#FE5050  }
ul.boxWrap li.usageStatus:nth-child(1) span.tit       {background:url(../adm_images/adm/face-smile.png) no-repeat 0 0}
ul.boxWrap li.usageStatus:nth-child(2) span.tit       {background:url(../adm_images/adm/face-users.png) no-repeat 0 0}
ul.boxWrap li.usageStatus:nth-child(3) span.tit       {background:url(../adm_images/adm/face-frown.png) no-repeat 0 0}
ul.boxWrap li.usageStatus ul            {margin-top:35px; display:flex; width:100%;  }
ul.boxWrap li.usageStatus ul li         {text-align: center; width:100%; }
ul.boxWrap li.usageStatus ul li span    {display:inline-block; font-weight: 500; }
ul.boxWrap li.usageStatus ul li span span {color:#888; vertical-align: 0; font-size: 14px; }
ul.boxWrap li.usageStatus ul li strong  {display:block; margin-top:10px; font-size: 24px; }
ul.boxWrap li.usageStatus button.btnSuccess {position:absolute; top:24px; right:30px;  }

section.dashboard + section.dashboard   {margin-top:30px; }

ul.boxWrap li.loanStatus      {}
ul.boxWrap li.loanStatus ul      {display:flex; height:200px; padding:20px 0;  }
ul.boxWrap li.loanStatus ul li   {width:100%; height:100%; text-align: center; padding:20px 0 0; }
ul.boxWrap li.loanStatus ul li + li   {border-left:1px solid #ddd; }
ul.boxWrap li.loanStatus ul li span    {display:inline-block; font-weight: 700; padding-left:30px;  }
ul.boxWrap li.loanStatus ul li strong  {display:block; margin-top:40px; font-size:30px; color:#069B66;  }
ul.boxWrap li.loanStatus ul li span.ico_1    {background:url(../adm_images/adm/ico_18_main_status_1.png) no-repeat 0 0; }
ul.boxWrap li.loanStatus ul li span.ico_2    {background:url(../adm_images/adm/ico_18_main_status_2.png) no-repeat 0 0; }
ul.boxWrap li.loanStatus ul li span.ico_3    {background:url(../adm_images/adm/ico_18_main_status_3.png) no-repeat 0 0; }
ul.boxWrap li.loanStatus ul li span.ico_4    {background:url(../adm_images/adm/ico_18_main_status_4.png) no-repeat 0 0; }
ul.boxWrap li.loanStatus ul li span.ico_5    {background:url(../adm_images/adm/ico_18_main_status_5.png) no-repeat 0 0; }
ul.boxWrap li.loanStatus ul li span.ico_6    {background:url(../adm_images/adm/ico_18_main_status_6.png) no-repeat 0 0; }




ul.boxWrap.float        {display:block; overflow: hidden;}
ul.boxWrap.float li.box          {float:left; height:360px; }
ul.boxWrap.float li.box.loanIngStatus     {width:920px; }
ul.boxWrap.float li.box.loanIngStatus span.tit     {display:block; padding:40px 0 0; text-align: center; font-weight: 700; }
ul.boxWrap.float li.box.loanIngStatus ul     {margin-top:50px; padding:0 120px; display:flex; justify-content: space-between; }
ul.boxWrap.float li.box.loanIngStatus ul li  {width:130px; text-align: center; }
ul.boxWrap.float li.box.loanIngStatus ul li span  {display:block; padding-bottom:80px; color:#069B66; font-weight: 500;  }
ul.boxWrap.float li.box.loanIngStatus ul li strong{display:block; margin-top:30px; font-size: 30px;   }
ul.boxWrap.float li.box.loanIngStatus ul li span.icon_1  {background:url(../adm_images/adm/ico_18_ing_1.png) no-repeat 50% 100%; }
ul.boxWrap.float li.box.loanIngStatus ul li span.icon_2  {background:url(../adm_images/adm/ico_18_ing_2.png) no-repeat 50% 100%; }
ul.boxWrap.float li.box.loanIngStatus ul li span.icon_3  {background:url(../adm_images/adm/ico_18_ing_3.png) no-repeat 50% 100%; }
ul.boxWrap.float li.box.loadMoney     {width:420px; margin-left:20px; overflow: hidden; }
ul.boxWrap.float li.box.loadMoney ul     {}
ul.boxWrap.float li.box.loadMoney ul li  {overflow: hidden; border-top:1px solid #ddd; margin-top:-1px; }
ul.boxWrap.float li.box.loadMoney ul li span  {float:left; width:156px; height:120px;  padding-top:68px; font-weight: 700;  text-align: center; background-color:#EFF5EF !important; }
ul.boxWrap.float li.box.loadMoney ul li strong  {float:right; padding-right:30px; line-height:120px; font-size:24px;  }
ul.boxWrap.float li.box.loadMoney ul li span.icon_1  {background:url(../adm_images/adm/ico_18_loadMoney_1.png) no-repeat 50% 30px; }
ul.boxWrap.float li.box.loadMoney ul li span.icon_2  {background:url(../adm_images/adm/ico_18_loadMoney_2.png) no-repeat 50% 30px; }
ul.boxWrap.float li.box.loadMoney ul li span.icon_3  {background:url(../adm_images/adm/ico_18_loadMoney_3.png) no-repeat 50% 30px; }

ul.boxWrap.float li.box.rightCount          {float:right; width:420px; min-height:170px; height:170px; text-align: center;  }
ul.boxWrap.float li.box.rightCount + li     {margin-top:20px;  }
ul.boxWrap.float li.box.rightCount span     {font-weight: 700; padding:30px 0 0; display:block}
ul.boxWrap.float li.box.rightCount strong   {display:block; font-size: 30px; margin-top:40px;  }
ul.boxWrap.float li.box.rightCount strong em{display:inline-block; padding:0 10px; box-shadow:inset 0 -18px 0  0  rgba(24, 167, 116, 0.15) ;}

ul.boxWrap.detail li.box  {height:360px; }
ul.boxWrap.detail li.box span.tit  {display:block; font-weight: 700; text-align: center; padding:25px 0 0;}
ul.boxWrap.detail li.box span.tit ~ span.tit  {padding:15px 0 0;}
ul.boxWrap.detail li.box.detail_1  {padding:0 50px 0;}
ul.boxWrap.detail li.box.detail_1 table  {margin:10px  0; width:100%; }
ul.boxWrap.detail li.box.detail_1 table th  {height:50px; background:#EFF5EF; color:#069B66; border:1px solid #ddd; }
ul.boxWrap.detail li.box.detail_1 table td  {height:50px; border:1px solid #ddd; }

ul.boxWrap.detail li.box.detail_2 {}
ul.boxWrap.detail li.box.detail_2 .pie {width:240px; height:220px; margin:0 auto;  }
ul.boxWrap.detail li.box.detail_2 ul.legend    {width:100%; display:flex;  padding:0 100px;   }
ul.boxWrap.detail li.box.detail_2 ul.legend li {width:100%; text-align: center;}
ul.boxWrap.detail li.box.detail_2 ul.legend li span   {width:100%; }
ul.boxWrap.detail li.box.detail_2 ul.legend li strong {display:block; font-size:20px  }
ul.boxWrap.detail li.box.detail_2 ul.legend li span.icon_1::before   {content:""; display:inline-block; vertical-align: -3px; margin-right:4px;  width:16px; height:16px; border-radius:4px; background:#1BC98B;  }
ul.boxWrap.detail li.box.detail_2 ul.legend li span.icon_2::before   {content:""; display:inline-block; vertical-align: -3px; margin-right:4px;  width:16px; height:16px; border-radius:4px; background:#0A7BAF;  }


ul.boxWrap.detail li.box.detail_3 {}
ul.boxWrap.detail li.box.detail_3 strong {display:block; font-size:30px; text-align: center; }
ul.boxWrap.detail li.box.detail_3 strong::before {display:block; content:""; width:80px; height:80px; margin:70px auto 50px; background:url(../adm_images/adm/ph_hand-coins-light.png) no-repeat 50% 50% #EAFAEB; border-radius: 50%;   }

ul.boxWrap.detail li.box.detail_4 {}
ul.boxWrap.detail li.box.detail_4 ul {display:flex; margin-top:60px; text-align: center; }
ul.boxWrap.detail li.box.detail_4 ul li {width:100%; }
ul.boxWrap.detail li.box.detail_4 ul li.total   {}
ul.boxWrap.detail li.box.detail_4 ul li.total span    {display:block; }
ul.boxWrap.detail li.box.detail_4 ul li.total strong  {display:block; margin-top:30px; font-size:30px; color:#069B66; padding-top:80px; background:url(../adm_images/adm/iconoir_user-star.png) no-repeat 50% 0;}
ul.boxWrap.detail li.box.detail_4 ul li.avr   {}
ul.boxWrap.detail li.box.detail_4 ul li .starChkWrap {margin:0 auto; width:150px; height:90px; margin-top:20px;  align-items: flex-start; }
ul.boxWrap.detail li.box.detail_4 ul li.avr strong   {display:block; font-size:18px; }
ul.boxWrap.detail li.box.detail_4 ul li.avr strong em   {font-size:30px; color:#069B66; vertical-align: 0;  }

ul.boxWrap.chartBox li.box { }
ul.boxWrap.chartBox li.box span.tit  {display:block; padding:40px 0 0; font-size: 18px; font-weight: 700; text-align: center;  }
ul.boxWrap.chartBox li.box span.tit em  {display:block; font-size:16px; font-weight: 500;}
ul.boxWrap.chartBox li.box div.chart  {display:block; width:300px; height:310px; margin:0 auto;  }
ul.boxWrap.chartBox li.box div.pie  {display:block; width:250px; height:210px; margin:0 auto;  }
.notiTxt.tr {text-align: right;}
.notiTxt.tr em {margin-right:8px; }
.notiTxt.tr::before {display:none; }
.notiTxt button {color:#fff; margin-left:10px;  }
ul.boxWrap.chartBox .box ul.legend      { background:#F6FBF7; margin:0 40px; padding:18px 30px; display:flex; justify-content: left; flex-wrap: wrap; border-radius:8px;     }
ul.boxWrap.chartBox .box ul.legend li   {width:90px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; word-break: break-all;  border-radius: 8px;}
ul.boxWrap.chartBox .box ul.legend li em   {display:inline-block; width:8px; height:8px; border-radius:50%; margin-right:6px;  }

ul.boxWrap.chartBox li.box div.chart2  {display:block; width:430px; height:310px; margin:0 auto;  }
ul.boxWrap.chartBox li.box .ment  {text-align: center; font-weight: 500;}


ul.boxWrap.chartBox.review            {display: flex; overflow: hidden; gap: 24px}
ul.boxWrap.chartBox.review .box span.tit  {display:block; padding:40px 0 0; font-size: 18px; font-weight: 700; text-align: center;  }
ul.boxWrap.chartBox.review .box     { width:432px; margin-left:0px; padding-bottom:30px;    }
ul.boxWrap.chartBox.review .box.half + .box.half   { margin-top: 24px; }
ul.boxWrap.chartBox.review .box ul.legend     {width:280px; flex-direction: column; margin: 0 auto; padding:10px 30px; }
ul.boxWrap.chartBox.review .box ul.legend li  {width:100%; margin:10px 0 }
ul.boxWrap.chartBox.review .box div.chart   {width:300px; height:230px; }
ul.boxWrap.chartBox.review .box div.pie     {width:150px; height:150px; }
ul.boxWrap.chartBox.review .box div.avr     {text-align: center; height:148px; }
ul.boxWrap.chartBox.review .box div.avr .formRow     {justify-content: center; padding:30px 0 20px }
ul.boxWrap.chartBox.review .box div.avr strong     {font-size: 30px; color:#069B66; }




ul.boxWrap.payData li.box   {text-align: center; height:275px;  }
ul.boxWrap.payData li.box span.tit   {display:block; padding:40px 0 0; text-align: center; font-size: 18px; font-weight: 700; }
ul.boxWrap.payData li.box span.tit + strong   {display:inline-block; padding:40px 10px 0; text-align: center; font-size: 30px; margin-top:60px; box-shadow:inset 0 -18px 0  0  rgba(24, 167, 116, 0.15) ; }

ul.boxWrap.payData li.box .barChart   {text-align: center; }
ul.boxWrap.payData li.box .barChart .bar      {display:flex; margin:30px auto 0; padding:30px 0 0; width:270px; overflow: hidden;   }
ul.boxWrap.payData li.box .barChart .bar em   {height:40px; }
ul.boxWrap.payData li.box .barChart .bar em span   {display:block; margin-top:-30px; text-align: center;}
ul.boxWrap.payData li.box .barChart .bar em.type_1   {background:#5066B6; color:#5066B6; font-weight: 500; border-radius: 16px 0 0 16px; }
ul.boxWrap.payData li.box .barChart .bar em.type_2   {background:#46B9B2; color:#46B9B2; font-weight: 500; border-radius: 0 16px  16px 0; }

ul.boxWrap.payData li.box .barChart .legend       {display:block; width:270px; height:53px; background:#F6FBF7; margin:20px auto 0; border-radius: 8px;  }
ul.boxWrap.payData li.box .barChart .legend em    {line-height:53px}
ul.boxWrap.payData li.box .barChart .legend em + em    {margin-left:30px; }
ul.boxWrap.payData li.box .barChart .legend em::before    {content:""; display:inline-block; width:8px; height:8px; background:#5066B6; border-radius:50%; margin-right:5px; }
ul.boxWrap.payData li.box .barChart .legend em.icon_2::before    {background:#46B9B2; }

.table_wrap + .titH4    {margin-top:40px; }
.flexCont   {margin:40px 0 0;  display:flex;  gap:60px; }
.flexCont + .titH4    {margin-top:40px; }
.flexCont > div   {width:100%; }
.table_wrap table td ol   {padding:20px 0; text-align: left; display:inline-block }

.moneyTxt     {}
.moneyTxt em     {}
.moneyTxt span   {display:block; color:#888; font-size: 14px;   }

ul.dashboardWrap      {display:flex; gap:20px;  }
ul.dashboardWrap > li   {width:calc(50% - 10px); padding:40px 50px; max-width:50%; border:1px solid #ddd; border-radius:16px; }
ul.dashboardWrap > li .titBox     { position:absolute; width:100%; font-size:18px; }
ul.dashboardWrap > li .chartBox   { width:100%; height:340px; margin:0 auto; }

ul.dashboardWrap li.items    { width:calc( 25% ); padding:30px 40px; border:1px solid #ddd; border-radius:16px; text-align: center; }
ul.dashboardWrap li strong.tit    { display:block; font-size:18px; color:#333; padding:16px 0 0; text-align: center;  }
ul.dashboardWrap li .dash_data    { padding:20px 0 0; margin:auto}
ul.dashboardWrap li .dash_data span.dataSize { margin:auto;}
ul.dashboardWrap li.items::before   { content:""; display:block; width:56px; height:56px; margin:30px auto 0; border-radius: 50%; background:url(../images/FIN/main/ico_type_F01.png) no-repeat 50% 50% #069B66; background-size:25px;  }

ul.dashboardWrap + ul.dashboardWrap      {margin-top:30px; }
ul.dashboardWrap.userEnvir + ul.dashboardWrap.userEnvir      {margin-top:20px; }

ul.dashboardWrap li.rank    {padding:30px; text-align: center; }
ul.dashboardWrap li.rank ol    {display:inline-block; text-align:left; margin-top:30px;  }
ul.dashboardWrap li.rank ol li    {}
ul.dashboardWrap li.rank ol li + li  {margin-top:20px }
ul.dashboardWrap li.rank ol li em    {display:inline-block; width:24px; height:24px; margin-right:8px; background:#069B66; color:#fff; border-radius:50%; text-align: center;   }

ul.dashboardWrap li.chart_pie .pie   {width:240px; height:240px; margin:0 auto;  }
ul.dashboardWrap li.chart_pie .pie2   {width:240px; height:190px; margin:0 auto;  }
ul.dashboardWrap li.chart_pie strong.tit      {display:block; padding:0; }
ul.dashboardWrap li.chart_pie ul.legend      { background:#F6FBF7; padding:18px 30px; display:flex; justify-content: left; flex-wrap: wrap; border-radius:8px;     }
ul.dashboardWrap li.chart_pie ul.legend li   {width:50%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; word-break: break-all;  border-radius: 8px;}
ul.dashboardWrap li.chart_pie ul.legend li em   {display:inline-block; width:8px; height:8px; border-radius:50%; margin-right:6px;  }

ul.dashboardWrap li.itemTxt       {}
ul.dashboardWrap li.itemTxt strong.tit    { font-size:18px;  }
ul.dashboardWrap li.itemTxt .dash_data    {  margin-top:80px;     }
ul.dashboardWrap li.itemTxt strong.tit    { font-size:18px;}
ul.dashboardWrap li.itemTxt .dash_data    {  text-align: center; }
ul.dashboardWrap li.itemTxt .dash_data span.dataSize strong     { font-size:30px;   }
ul.dashboardWrap li.itemTxt .dash_data span.dataSize span       { font-size:30px;   }


.barChart2         { width:100%; position:relative; height:26px;  }
.barChart2::before { content:""; display:block; position:absolute; width:100%; height:10px; top:8px; background:#F4F6F8; border-radius: 5px; }
.barChart2 span { display:block; position:relative; z-index: 2; float:left; height:10px; margin-top:8px; background:#5066B6; border-radius: 5px; }  
.barChart2 span em { position:absolute; z-index:10; width:18px; height:18px; right:-4px; border:4px solid rgba(25, 55, 109, 0.20); border-radius: 50%; margin-top: -8px; box-sizing: content-box;   } 
.barChart2 span em::before { content: ""; display:block; width:18px; height:18px; background:#5066B6; border-radius: 50%;; } 
.barChart2 em.l         {position:absolute; left:0;  bottom:-20px; font-size: 14px; color:#555;  }
.barChart2 em.r         {position:absolute; right:0; bottom:-20px; font-size: 14px; color:#555;  }
 

ul.dashboardWrap li .barChart2   { width: 215px; margin: -60px auto 0;   }
ul.dashboardWrap li .barChart2 + span.dataSize   { margin:30px 0 auto; }


span.dataSize      { position:relative; display:inline-block; padding:0 10px; font-size:30px;  }
span.dataSize::after    { content:""; position:absolute; left:0; bottom:6px; width:100%; height:18px; background:rgba(24, 167, 116, 0.15); }
span.dataSize strong    { position:relative; z-index:2; display:inline-block; font-size: 24px; vertical-align: 0; }
span.dataSize span      { position:relative; z-index:2; display:inline-block;  font-size: 24px; font-weight: 700; vertical-align: 0}


.boxWrap.boxWrap.dateChartBox       {}
.boxWrap.boxWrap.dateChartBox li.box    {padding:40px; }
.boxWrap.boxWrap.dateChartBox li.box table  {width:100%; }
.boxWrap.boxWrap.dateChartBox li.box table th    {text-align: center; height:50px; border:1px solid #ddd; background:#EFF5EF;   }
.boxWrap.boxWrap.dateChartBox li.box table td    {text-align: center; height:50px; border:1px solid #ddd;  }
.boxWrap.boxWrap.dateChartBox li.box .tit    {text-align: left; font-size:20px; font-weight: 700;  }
.boxWrap.boxWrap.dateChartBox li.box .chartTime    {max-width:100%; height:140px; }
.boxWrap.boxWrap.dateChartBox li.box.week       {max-width:650px; }
.boxWrap.boxWrap.dateChartBox li.box.moveType   {max-width:900px; }



ul.dashboardWrap.userEnvir > li {display:flex; min-width:100%;  }
ul.dashboardWrap.userEnvir li.chart_pie strong.tit {position:absolute;  }
ul.dashboardWrap.userEnvir li > div {width:600px; display:flex; margin:0 auto; position:relative; padding:20px 0 0;  }
ul.dashboardWrap.userEnvir li > div .tit2 {position:absolute; left:50%; top:0; }
ul.dashboardWrap.userEnvir li.chart_pie ul.legend     {width:240px; height:230px; margin:auto 0 ;   }
ul.dashboardWrap.userEnvir li.chart_pie ul.legend li  {width:100%; margin:auto 0; }
ul.dashboardWrap.userEnvir li.chart_pie ul.legend li em  {vertical-align: middle; }
ul.dashboardWrap.userEnvir li.chart_pie .pie    {width:320px; height:320px; }


/* 방문자 상세 팝업 */
.visitViewCont                {}
.visitViewCont .bbs           {margin-top:20px; }
.visitViewCont .fullYear      {display:flex; gap:8px; padding:12px 0 0; }
.visitViewCont .fullYear select {width:55%; }
.visitViewCont .fullYear select + select {width:auto; flex:1; }
.visitViewCont .rangeControl      {display:flex; gap:8px; padding:12px 0 0; }
.visitViewCont .rangeControl input{flex:1;  }
.visitViewCont .btn_r   {padding:20px 0 0; text-align: right;}
.visitViewCont .btn_r button   {padding: 0 30px;  }
.visitViewCont .jsgrid-grid-body   {max-height:400px; }


/* */


.formRow .checkbox + .checkbox { margin-left: 12px; ;}


/* 버튼 */
.btnBarSet { display: inline-flex; align-items: center;}
.btnBarSet button, .btnBarSet a { padding: 0 20px; font-weight: 700;}
.btnBarSet * + *::before { content: ''; display: block; position: absolute; top: 50%; left: 0; width: 1px; height: 20px; margin-top: -10px; background: #ddd; }

.countBarSet { display: inline-flex; align-items: center;}
.countBarSet .count {position: relative; padding: 0 10px;}
.countBarSet .count:first-child { padding-left: 0;}
.countBarSet .count + .count::before { content: ''; display: block; position: absolute; top: 50%; left: 0; width: 1px; height: 16px; margin-top: -8px; background: #ddd; }

.formQna { display: flex; gap: 20px;}
.formQna + .formQna { margin-top: 30px;}
.formQna .q,
.formQna .a { display: flex; align-items: center; justify-content: center; width: 36px; height: 36px; border-radius: 50%; color: #fff; font-weight: 700; }
.formQna .q { background-color: #069B66;}
.formQna .a { background-color: #4C9DA2;}
.formQna .cont { flex: 1;}
/* .formQna .cont .textarea { height: 108px;} */


fieldset:not(.tableFilterGroup) { display: flex; gap: 20px; margin-bottom: 40px;}
fieldset .searchControlBox { width: 100%;}
.radioIndent { padding-left: 32px;}
.radioIndent .radio { margin-left: -32px;}

.pntCol_1.mt6 { margin-top: 6px;}

/* 당첨자 명단 */
.winnerList { display: inline-block; margin: 30px 0 40px; background: #F6FBF7; border-radius: 16px; padding: 20px;}
.winnerList .tit { margin-bottom: 20px;}
.winnerList .list + .list { margin-top: 20px;} 
.layerBody.eventPop .layerHead { display: flex; justify-content: space-between; min-height: 100px; padding: 0; border-bottom: 1px solid #ddd;}
.layerBody.eventPop .layerHead h3 { font-size: 18px;}
.layerBody.eventPop .layerHead p { margin-top: 0; text-align: unset; font-weight: 400;}


/* .barList */
.layerBody.eventPop .layerHead .barList .list { color: #555; font-weight: 400;}
.layerBody.eventPop .layerHead .barList .list + .list { margin-left: 16px; padding-left: 16px;}
.layerBody.eventPop .layerHead .barList .list + .list::before { background: #888;}

.layerCont .textTable { margin-top: 0;}
.layerCont .textTable th, 
.layerCont .textTable td { padding-top: 10px; padding-bottom: 10px;}

.table_wrap.mt30 { margin-top: 30px;}
.layerCont .tableData { padding: 30px 0; text-align: center;}

.comment .replies { margin-left: 120px;}
.comment .textarea { width: 100%;}
.comment .commentBody { display: flex; }
.comment .commentBody .btnSuccess { margin-left: 20px; align-self: flex-end;}
.comment .filebox { width:600px; margin-top:20px;  }


