/* content - common */

/* 락 */





/* 진희 */

/* 메인 */
.container.main { padding-bottom: 100px;}
.container.main::before { content: ''; position: absolute; top: 0; display: block; width: 100%; height: 620px;  background: #323C94; z-index: -1;}
.container.main section { width: 1400px; margin: 0 auto;}

.bannerLoansMain { height: 620px; padding-left: 40px; background: url(../images/common/banner_main.png) 436px 255px center / contain no-repeat }
.bannerLoansMain h2 { padding-top: 80px; color: #fff; font-size: 38px; line-height: 2; }
.bannerLoansMain h2 strong { font-size: 52px; }

.stepLoans { display: flex; gap: 20px; margin-top: -238px;  }
.stepLoans .step {display: flex; flex-direction: column; width: 25%;}
.stepLoans .step .box { height: 368px; padding: 60px 0; background-color: #fff; border-radius: 15px; text-align: center;}
.stepLoans .step .box::before { content: ''; display: block; width: 80px; height: 80px; margin: 0 auto;}
.stepLoans .step:nth-child(1) .box::before { background: url(../images/common/ico_loanstep_1.png) center / contain no-repeat}
.stepLoans .step:nth-child(2) .box::before { background: url(../images/common/ico_loanstep_2.png) center / contain no-repeat}
.stepLoans .step:nth-child(3) .box::before { background: url(../images/common/ico_loanstep_3.png) center / contain no-repeat}
.stepLoans .step:nth-child(4) .box::before { background: url(../images/common/ico_loanstep_4.png) center / contain no-repeat}
.stepLoans .step .box h3 { margin-top: 60px; color: #5B7DDC; font-size: 24px;}
.stepLoans .step .box p { margin-top: 10px;}
.stepLoans ul { display: block;}

.stepLoans.is_logined {}
.stepLoans.is_logined .step {}

.bannerLoans { height: 120px; display: flex; align-items: center; margin-top: 80px; background: #71F4E4; border-radius: 15px; color: #fff; font-size: 30px; }
.bannerLoans .inner { width: 768px; margin: 0 auto;}

.userInfoMain { }
.userInfoMain .greeting_msg { color: #fff; font-size: 20px; }
.userInfoMain .user { font-size: 40px; }
.userInfoMain .user strong { font-weight: 700;}
.userInfoMain .user .icon { }
.userInfoMain .tooltip_wrap {}
.userInfoMain .tooltip_wrap .icon {}
.userInfoMain .tooltip_wrap .tooltip_con {}

.bannerWithUs { margin-top: 80px; }
.bannerWithUs h2 { color: #333; font-size: 32px; text-align: center;}
.bannerWithUs p { margin-top: 20px; color: #555; text-align: center;}
.bannerWithUs ul { display: flex; gap: 40px; margin-top: 60px;}
.bannerWithUs ul li { width: 200px; height: 70px; border-radius: 8px; border: 1px solid #DDD; line-height: 70px; text-align: center;}

.tableInfo.suggest { margin: 40px 0;}
.tableInfo.suggest table {}
.tableInfo.suggest tr {}
.tableInfo.suggest td { padding: 20px 0;}

.tableInfo.suggest .status {}
.tableInfo.suggest .opt {}


.suggestLoanList { background: #d9d9d9; border-radius: 15px; }


.gaugeBox { width: 376px; border-bottom: 1px solid #EAEEF1;}
.gauge_circle { position: relative; left: 50%; margin-left: -160px; width: 320px; height: 190px; overflow: hidden;}
.gauge_body { position: absolute; top: 30px; width: 320px; height: 160px; background: #EAEEF2; border-radius: 160px 160px 0 0;  overflow: hidden;}
.gauge_fill { position: absolute; top: 100%; left: 0; width: inherit; height: 100%; background: #19376D; transform-origin: center top; transform: rotate(0.1turn);}

.gauge_pointer_wrap { position: absolute; top: 30px; width: 320px; height: 160px; z-index: 1;}
.gauge_pointer { position: absolute; top: 100%; left: 0; width: inherit; height: 100%; transform-origin: center top; transform: rotate(0.1turn);}
.gauge_pointer:before {content:""; position: absolute; bottom: calc(100% + -9px); left: -4px; width: 18px; height: 18px; background: #19376D; border-radius: 50%;}
.gauge_pointer:after {content:""; position: absolute; bottom: calc(100% + -13px); left: -8px; width: 26px; height: 26px; background: rgba(25, 55, 109, 0.20); border-radius: 50%;}
.gauge_bg { position: absolute; top: 40px; left: 50%; width: 300px; height: 300px; margin-left: -150px; background: #fff; border-radius: 50%;}
